section.footer 
    .footer__section
        .footer-top
            .container
                .row.padd-37
                    .col-lg-6.col-md-6.col-sm-12  
                        .footer__list-item.list-top 
                            h3.list-title Đừng bỏ lỡ các deal du lịch HOT
                            p.list-description
                                span Các deal khuyến mại sẽ được gửi vào email của bạn. Bằng cách nhấp vào đăng ký, bạn đã đồng ý với các <a href="#"><u> Điều khoản </u></a> & <a href="#"><u> Chính sách của chúng tôi </u></a>
                    .col-lg-6.col-md-6.col-sm-12
                        .footer__list-item.form_email 
                            .list-form 
                                input(type="text" placeholder="Email của bạn")
                                .ic_next
                                    img(src='./assets/images/footer-02/layer-1.png' alt='')
                            small.deal +1.200 offer mỗi tháng    
        .footer-middle
            .container 
                .row
                    .col-12 
                        .footer__list-name.footer__list-item
                            p.list-name__title Công ty Cổ phần AZWAY Việt Nam  
                        .footer-soli.d-flex.mb-4
                            .footer__list-follow  
                                p.follow__title Theo dõi chúng tôi
                            .follow-social
                                a(href="")
                                    img(src="./assets/images/footer-02/layer-5.png", alt="")
                                a(href="")
                                    img(src="./assets/images/footer-02/layer-6.png", alt="")
                                a(href="") 
                                    img(src="./assets/images/footer-02/layer-4.png", alt="")
        .footer-bottom   
            .container
                .footer-bottom-mb
                    .row 
                        .col-6
                            .footer__list-name.footer__list-item
                                ul.footer__list-content 
                                    li.content__item
                                        a(href="") Về chúng tôi
                                    li.content__item
                                        a(href="")  Profile công ty 
                                    li.content__item
                                        a(href="")  Tàu thăm vịnh
                                    li.content__item
                                        a(href="")  Du thuyền 
                                    li.content__item
                                        a(href="")  Cano 
                                    li.content__item
                                        a(href="")  Thủy phi cơ 
                                    li.content__item
                                        a(href="")  Trực thăng   
                        .col-6
                            ul.footer__list-content 
                                li.content__item
                                    a(href="") Điều khoản bảo mật
                                li.content__item
                                    a(href="")  Chỉnh sách hoàn trả 
                                li.content__item
                                    a(href="")  Câu hỏi thường gặp
                                li.content__item
                                    a(href="")  Kinh nghiệm du lịch 
                                li.content__item
                                    a(href="")  Du lịch Hạ Long
        .footer-copyright
            .container
                .footer__copyright-list
                    img(src="./assets/images/footer-02/lcopy.png", alt="") 
                    p.copyright-title © 2003-2020 AZCRUISE 
                    p.copyright-bottom  Một thành viên của AZWAY Việt Nam 