-
    const menuDatas = [
        {
            menuCategory: 'Tàu thăm vịnh',
            link: "./tau-tham-vinh-desktop.html",
            subMenu: 'submenu',
        },
        {
            menuCategory: 'Du thuyền',
            link: "./du-thuyen-desktop.html",
        },
        {
            menuCategory: 'Cano',
            link: "./cano-desktop.html",
        },
        {
            menuCategory: 'Thuỷ phi cơ',
            link: "#",
        },
        {
            menuCategory: 'Trực thăng',
            link: "./truc-thang-desktop.html",
        },
        {
            menuIcon: './assets/images/header/phone.png',
            menuCategory: '0912.345.678',
            link: "tel:0912345678"
        },
    ]

.header
    .nav
        .container
            .row.align-items-center
                .col-xl-4.col-lg-3.col-md-3.align-self-end
                    .nav__logo
                        a(href="./index.html")
                            img(src="./assets/images/header/logo.png" alt="logo")
                .col-xl-8.col-lg-9.col-md-9
                    ul.nav__top-bar.justify-content-end.align-items-center
                        li
                            a(href="#") Ưu đãi
                        li
                            a(href="mailto:support@azcruise.vn") support@azcruise.vn
                        li.phone
                            a.d-flex(href="tel:0912345678")
                                img.phone-icon(src="./assets/images/header/phone.png" alt="phone icon")
                                span.phone-text 0912.345.678   
                    ul.nav__menu.d-none.d-md-flex.justify-content-between.align-items-center
                        each item in menuDatas
                            li.nav__menu-item
                                a(href=`${item.link}` class="item__links")
                                    if item.menuIcon
                                        img.icon-phone(src=`${item.menuIcon}` alt="phone icon")
                                    span= `${item.menuCategory}`
                                    if item.subMenu
                                        ul.nav__sub-menu
                                            each item in [1,2,3,4,5,6]
                                                li.d-flex
                                                    a(href="#" class= "sub-menu__links") Tàu riêng 4h
                                                    .sub-menu-icon.ml-auto
                                                        img.phone-icon(src="./assets/images/header/right-arrow.png")
                                                    ul.nav__sub-menu-lv3
                                                        each item in [1,2,3,4]
                                                            li
                                                                a(href="#") sub 1