.header-mb
    .container
        .nav.d-flex.align-items-center
            .nav__logo
                a(href="./index-mobile.html")
                    img(src="./assets/images/header/logo.png" alt="logo")
            button.nav__btn.d-flex.align-items-center.justify-content-center.ml-auto
                svg(xmlns='http://www.w3.org/2000/svg' width='20' height='11' viewbox='0 0 20 11' fill='none')
                    rect(width='20' height='3' rx='1.5' fill='#10284F')
                    rect(y='8' width='20' height='3' rx='1.5' fill='#10284F')
