.cano-section {
    .box-cano-section {
        margin-top: 75px;
    }
    .cano-section-line {
        border-top: 1px solid $border-color-4;
        margin-top: 75px;
    }
    .happy__client__wrapper {
        margin-top: 100px;
    }
    .box-discover-section {
        margin-top: 100px;
    }
    .box-partner-section {
        margin-top: 100px;
        margin-bottom: 100px;
    }
}
