.cano-mb-section {
    .banner-mb-section {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .filter-mb-section{
        margin-bottom: 20px;
    }
    .box-cano-section {
        border-bottom: 1px solid $border-color-4;
        position: relative;
        padding-bottom: 50px;
        margin-bottom: 50px;
        .btn-more {
            border-radius: 6px;
            border: solid 1px #10284f;
            padding: 16px 65px;
            display: inline-block;
            font-family: $font-futura;
            font-size: 14px;
            font-weight: 600;
            line-height: 1;
            color: #10284f;
            text-transform: uppercase;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%) translateY(50%);
            background: #f3f4f6;
            z-index: 99;
            transition: 0.3s ease-in-out;
            white-space: nowrap;
            outline: none;
            & span{
                padding-right: 4px;
            }
            &:hover {
                border-color: $blue3;
            }
            &.loading{
                display: none;
            }
        }
    }
    .partner-slider-section-mb {
        margin-bottom: 50px;
    }
    .box-discover-more-section {
        margin-bottom: 50px;
    }
    .happy__client__wrapper {
        margin-bottom: 50px;
    }
}