.newfeed {
    padding: 40px 0;
    @include min-breakpoint(768) {
        padding: 70px 0;
    }
    &__left {
        margin-bottom:90px;
    }
    &-detail__social {
        &-icon {
            @include min-breakpoint(768) {
                flex-direction: column;
            }
            .icon__item {
                &:first-child {
                    @include min-breakpoint(768) {
                        margin-right: 0;
                    }
                }
                @include min-breakpoint(768) {
                    text-align: center;
                    margin-bottom: 10px;
                }
                svg {
                    @include min-breakpoint(768) {
                        height: 35px;
                        width: 35px;
                    }
                }
                a {
                    @include min-breakpoint(768) {
                        display: inline-block;
                        text-decoration: none;
                    }
                }
            }
        }
        @include min-breakpoint(768) {
            position: -webkit-sticky;
            position: sticky;
            top: 40vh;
            width: 100%;
            border: none;
            flex-direction: column;
        }
    }
}
