.booking__train-section {
    margin-bottom: 80px;
    .mg-b-0 {
        margin-bottom: 0;
    }
    .mg-bt-10 {
        margin-bottom: 10px;
    }
    select {
        border: none;
        outline: none;
        font-size: 16px;
        font-family: $font-nunito;
        color: #505a6d;
        font-weight: bold;
    }
    .custom-checkbox .custom-control-label {
        color: #505a6d;
        cursor: pointer;
        &::before {
            box-shadow: none;
            border-color: $gray-17-other;
        }
    }
    input[type="checkbox"]:checked + .check__label::before {
        background-color: $red;
        border-color: $red;
    }
    .custom-control-label {
        &:before,
        &:after {
            width: 20px;
            height: 20px;
            left: -2.5rem;
            top: 7px;
        }
    }
    .booking__train-title {
        h1 {
            font-size: 36px;
            font-family: $font-futura;
            font-weight: 600;
            color: #10284f;
        }
    }
    .booking__train-wrapper {
        margin-top: 39px;
        .train__wrapper-fill {
            background-color: $white;
            border-radius: 10px;
            .wrapper__fill-title {
                border-bottom: 1px solid $blue-dark-1;
                padding: 18px 0;
                img {
                    width: 29px;
                    height: 19px;
                    margin-left: 50px;
                }
                h3 {
                    font-size: 24px;
                    font-weight: 600;
                    color: #10284f;
                    margin-left: 13px;
                    margin-bottom: 0;
                }
            }
            .wrapper__fill-form {
                padding: 30px 44px;
                .form__infor-name {
                    margin-right: 23px;
                    margin-bottom: 15px;
                }
                .form__infor-email {
                    margin-right: 23px;
                    margin-bottom: 15px;
                }
                .form__infor-phone {
                    margin-bottom: 15px;
                }
                .fill__form-infor {
                    h4 {
                        font-size: 16px;
                        font-weight: bold;
                        color: $blue-dark-cl;
                        font-family: $font-nunito;
                    }
                    input {
                        border: 1px solid #e1eaf1;
                        border-radius: 4px;
                        padding: 8px 31px;
                        color: $blue-dark-cl;
                        font-size: 16px;
                        font-family: $font-nunito;
                        outline: none;
                        &:focus {
                            border: 1px solid $blue-dark-2;
                        }
                    }
                }
                .fill__form-note {
                    margin-top: 20px;
                    h4 {
                        font-size: 16px;
                        font-family: $font-nunito;
                        color: $blue-dark-cl;
                        font-weight: bold;
                    }
                    textarea {
                        height: 270px;
                        width: calc(100% - 2px);
                        border: 1px solid #e1eaf1;
                        margin-left: 1px;
                        margin-top: 1px;
                        border-radius: 4px;
                        padding: 20px;
                        &:focus {
                            border: 1px solid #8997ae;
                            outline: none !important;
                        }
                    }
                }
                .fill__form-p {
                    margin-top: 25px;
                    border-bottom: 1px solid $blue-dark-1;
                    p {
                        font-size: 16px;
                        font-weight: normal;
                        font-family: $font-nunito;
                        color: $box-text;
                        margin-bottom: 10px;
                        &:last-child {
                            justify-content: flex-end;
                            color: $green-dark;
                            @include breakpoint(768) {
                                margin-right: 20px;
                            }
                            img {
                                margin-right: 9px;
                                width: 24px;
                                height: 29px;
                            }
                        }
                    }
                }
                .fill__form-text {
                    margin-top: 23px;
                    h4 {
                        font-size: 16px;
                        font-family: $font-nunito;
                        font-weight: bold;
                        color: $blue-dark-cl;
                    }
                    .fill__form-checkbox {
                        .custom-control-label {
                            &:before,
                            &:after {
                                width: 20px;
                                height: 20px;
                                top: 0.25rem;
                                left: -30px;
                            }
                        }
                        label {
                            font-size: 14px;
                            font-weight: normal;
                            color: $gray-12;
                            font-family: $font-nunito;
                            margin-left: 30px;
                            width: calc(100% - 20px);
                        }
                    }
                }
            }
        }
        .train__wrapper-service {
            background-color: $white;
            border-radius: 10px;
            margin-top: 18px;
            padding: 0 44px;
            .wrapper__service-title {
                border-bottom: 1px solid $blue-dark-1;
                img {
                    width: 23px;
                    height: 18px;
                }
                h4 {
                    font-size: 24px;
                    color: $blue-dark-cl;
                    font-family: $font-futura;
                    margin-left: 20px;
                    font-weight: bold;
                }
                .service__title-start {
                    padding: 24px 0;
                    a {
                        div {
                            width: 4px;
                            height: 4px;
                            background-color: $blue-dark-cl;
                            border-radius: 100%;
                        }
                        div.mg-2px {
                            margin: 0 4px;
                        }
                    }
                }
            }
            .wrapper__service-price {
                padding: 44px 0;
                font-family: $font-nunito;
                font-size: 20px;
                font-weight: normal;
                line-height: 36px;
                color: $blue-cl;
                .service__price-checkbox {
                    .service__checkbox {
                        label {
                            margin-left: 20px;
                        }
                    }
                    p {
                        margin-bottom: 0;
                        margin-left: 20px;
                        font-size: 18px;
                    }
                }
            }
        }
        .train__wrapper-refund {
            margin-top: 24px;
            padding: 29px 44px;
            background-color: $white;
            border-radius: 10px;
            .refund__w {
                h4 {
                    margin-bottom: 0;
                    color: $blue-dark-cl;
                    font-size: 24px;
                    font-family: $font-futura;
                    margin-left: 20px;
                    font-weight: 600;
                }
            }
            .wrapper__refund-detail {
                margin-top: 20px;
            }
        }
    }
    .booking__train-infor {
        margin-top: 39px;
        background-color: $white;
        border-radius: 10px;
        .infor__details-title {
            border-bottom: 1px solid $blue-dark-1;
            h4 {
                font-size: 24px;
                font-weight: bold;
                color: $blue-dark-cl;
                font-family: $font-futura;
                padding: 16px 0;
                margin-left: 30px;
                margin-bottom: 5px;
            }
        }
        .infor__details-description {
            margin-top: 19px;
            border-bottom: 1px solid $blue-dark-1;
            p.text-right {
                font-size: 18px;
                color: $blue-cl;
                margin-right: 23px;
                font-weight: bold;
                font-family: $font-nunito;
                white-space: nowrap;
            }
            p.text-color {
                color: $blue-cl;
                font-size: 16px;
                font-weight: bold;
                font-family: $font-nunito;
                margin-left: 30px;
                margin-right: 23px;
                margin-bottom: 18px;
                span {
                    color: $gray-12;
                    font-size: 16px;
                    font-family: $font-nunito;
                    font-weight: normal;
                    img {
                        margin-right: 15px;
                    }
                }
            }
            p.border-b {
                border-radius: 4px;
                border: solid 1px $gray-17-other;
                padding: 10px;
                img {
                    width: 17px;
                    height: 9px;
                    margin-left: 10px;
                }
                span.d-flex.flex-row.align-items-center {
                    font-size: 16px;
                    font-weight: bold;
                    font-family: $font-nunito;
                }
            }
        }
        .train__infor-sale {
            border-bottom: 1px solid $blue-dark-1;
            .infor__sale-title {
                margin-left: 30px;
                h4 {
                    font-size: 24px;
                    font-weight: bold;
                    color: $blue-dark-cl;
                    font-family: $font-futura;
                    padding: 16px 0;
                    margin: 0;
                }
                p {
                    font-size: 16px;
                    font-family: $font-nunito;
                    font-weight: normal;
                    color: $gray-12;
                    margin-bottom: 0;
                }
            }
            .infor__sale-km {
                padding: 17px 30px;
                border-bottom: 1px solid $blue-dark-1;
                input {
                    border: 1px solid $gray-17-other;
                    border-radius: 4px;
                    padding: 10px;
                    width: 70%;
                    outline: none;
                }
                ::placeholder {
                    font-size: 16px;
                    font-family: $font-nunito;
                    font-weight: normal;
                    color: $gray-12;
                }
                button {
                    padding: 10px 20px;
                    background-color: $gray-17-other;
                    border-radius: 4px;
                    border: none;
                    outline: none;
                    @include breakpoint(991) {
                        padding: 10px 60px;
                    }
                    a {
                        font-size: 16px;
                        font-family: $font-nunito;
                        font-weight: bold;
                        white-space: nowrap;
                        color: $blue-light-3;
                    }
                }
            }
            .infor__sale-totle {
                margin-left: 30px;
                margin-right: 23px;
                margin-top: 15px;
                p,
                div {
                    font-size: 16px;
                    font-family: $font-nunito;
                    color: $gray-12;
                    font-weight: normal;
                    span {
                        color: $blue-cl;
                        font-weight: bold;
                    }
                }
                p {
                    margin-bottom: 14px;
                }
                .wrapp {
                    .text-bold {
                        color: $blue-cl;
                        font-weight: bold;
                        font-size: 16px;
                        font-family: $font-nunito;
                    }
                }
                .summary {
                    color: $red;
                }
            }
        }
    }
    .booking__train-sig {
        margin-top: 30px;
        padding: 0 30px;
        p {
            font-size: 14px;
            font-family: $font-nunito;
            font-weight: normal;
            color: $gray-18-other;
        }
    }
    .train__wrapper-btn {
        margin-top: 30px;
        .wrapper__btn-btn {
            button.btn__btn-button.color-gray {
                color: rgba(16, 40, 79, 0.5);
                border: 1px solid $blue-dark-cl;
                background-color: $gray-16-m;
                font-size: 18px;
                font-weight: bold;
                border-radius: 4px;
                padding: 15px 45px;
                margin-right: 16px;
                outline: none;
                font-family: $font-nunito;
            }
            button.btn__btn-button.other-color {
                color: $white;
                background-color: $orange-dark-1;
                border: none;
                font-size: 18px;
                font-weight: bold;
                border-radius: 4px;
                padding: 15px 45px;
                outline: none;
                font-family: $font-nunito;
            }
        }
    }
}
