.detail-ship-section {
    padding: 40px 0;
    .detail-ship {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        &__img {
            max-width: 1237px;
            overflow: hidden;
            &-wrap {
                overflow: hidden;
                margin-bottom: 28px;
                img {
                    transition: all 0.5s ease-in-out;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
        &__box {
            background-color: $white;
            position: sticky;
            top: 40px;
            .detail-ship__box-item {
                padding: 20px 40px;
            }
            &-nav {
                display: flex;
                justify-content: space-between;
                align-items: center;
                a {
                    text-decoration: none;
                    span {
                        font-family: $font-roboto;
                        font-size: 16px;
                        color: $grey-13;
                    }
                }
                .nav__btn {
                    outline: none;
                    padding: 9px 12px;
                    background-color: $white;
                    border: solid 1px #ebebeb;
                    border-radius: 100%;
                }
            }
            &-label {
                margin-top: 20px;
                font-family: $font-futura;
                font-size: 36px;
                font-weight: 600;
                color: $blue-dark-11;
            }
            &-sale {
                display: inline-block;
                padding: 6px 20px;
                background-color: $orange-dark-1;
                border-radius: 4px;
                font-family: $font-futura;
                font-size: 18px;
                font-weight: 600;
                color: $white;
            }
            &-detail {
                margin-top: 20px;
                margin-left: 14px;
                .detail__item {
                    list-style-image: url(../images/detail-ship/layer-2.png) !important;
                    font-family: $font-nunito;
                    font-size: 16px;
                    color: $box-text;
                    padding-left: 5px;
                }
            }
            &-serLabel {
                margin: 0 -40px 16px -40px;
                border-bottom: 1px solid #f2f7fb;
                padding: 0 40px 16px 40px;
                span {
                    font-family: $font-futura;
                    font-size: 24px;
                    font-weight: 600;
                    color: $blue-dark-11;
                    margin: 23px 0 36px;
                    margin-left: 14px;
                }
            }
            &-serDetail {
                margin-left: 14px;
                padding: 20px 0;
                .serDetail__item {
                    list-style-image: url(../images/detail-ship/layer-2.png) !important;
                    font-family: $font-nunito;
                    font-size: 16px;
                    color: $blue-cl;
                    line-height: 1.88;
                    padding-left: 5px;
                }
            }
            &-book {
                padding-top: 35px;
                border-top: 1px solid #f2f7fb;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                span {
                    font-family: $font-nunito;
                    font-size: 18px;
                    font-weight: bold;
                    color: $box-text;
                    @include breakpointminmax(993, 1281) {
                        display: inline-block;
                        margin-bottom: 10px;
                    }
                }
                .book__btn {
                    padding: 9px 40px;
                    border-radius: 6px;
                    outline: none;
                    border: solid 1px $orange-11;
                    background-color: $orange-11;
                    font-family: $font-futura;
                    font-size: 24px;
                    color: $white;
                    &:hover {
                        background-color: $white;
                        color: $orange-11;
                    }
                }
            }
        }
    }
}
