.proviso-page-section {
    padding-top: 100px;
    padding-bottom: 30px;
    & .proviso-title{
        font-family: $font-futura;
        padding-bottom: 15px;
        border-bottom: 1px solid $border-color-4;
        margin-bottom: 100px;
        & .title{
            font-weight: bold;
            font-size: 60px;
            color: $grey-12;
            margin-bottom: 25px;
        }
        & p{
            font-size: 14px;
            color: $grey-dark-2;
            margin-bottom: 0;
        }
    }
    & .proviso-content{
        &__left{
            & p{
                font-size: 20px;
                margin-bottom:15px;
                padding-left: 15px;
                border-left: 3px solid;
                line-height: 1;
                font-family: $font-futura;
                color: $grey-24;
                -webkit-transition: all 0.4s 0s ease;
                -moz-transition: all 0.4s 0s ease;
                -o-transition: all 0.4s 0s ease;
                transition: all 0.4s 0s ease;
                cursor: pointer;
                &.active{
                    color: $grey-12;
                    font-weight: bold;
                }
                &:last-child{
                    margin-bottom: 0;
                }
                &:hover{
                    color: $grey-12;
                    font-weight: bold;
                }
            }
        }
        & .proviso-tab-content{
            display: none;
            &#service{
                display: block;
            }
            & p{
                margin-bottom: 20px;
                font-family: $font-nunito;
                font-size: 16px;
                color: $grey-13;
                line-height: 1.5;
            }
        }
    }
    @include breakpoint(989){
        padding-top: 80px;
        padding-bottom: 25px;
        & .proviso-title{
            margin-bottom: 80px;
            & .title{
                font-size: 50px;
                margin-bottom: 20px;
            }
        }
        & .proviso-content{
            &__left{
                margin-bottom: 20px;
                & p{
                    font-size: 18px;
                }
            }
            &__right{
                & p{
                    margin-bottom: 20px;
                    font-size: 16px;
                }
            }
        }
    }
    @include breakpoint(767){
        padding-top: 70px;
        padding-bottom: 20px;
        & .proviso-title{
            margin-bottom: 70px;
            & .title{
                font-size: 40px;
                margin-bottom: 20px;
            }
        }
    }
    @include breakpoint(574){
        padding-top: 50px;
        padding-bottom: 20px;
        & .proviso-title{
            margin-bottom: 50px;
            & .title{
                font-size: 30px;
                margin-bottom: 20px;
            }
        }
        & .proviso-content{
            &__right{
                & p{
                    margin-bottom: 16px;
                    font-size: 16px;
                }
            }
        }
    }
}
.proviso-page-mb-section{
    padding-top: 30px;
    padding-bottom: 50px;
    & .title{
        font-family: $font-futura;
        font-weight: 600;
        font-size: 36px;
        line-height: 1.38;
        color: $grey-12;
        margin-bottom: 15px;
        @include breakpoint(374){
            font-size: 30px;
        }
    }
    & .tab-content{
        & .tab{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 30px;
            & a{
                font-family: $font-nunito;
                font-size: 18px;
                line-height: 1.2;
                color: $grey-25;
                padding: 12px 0;
                margin-right: 20px;
                @include breakpoint(374){
                    font-size: 16px;
                }
                &:last-child{
                    margin-right: 0;
                }
                &.active{
                    border-bottom:2px solid $grey-12;
                    font-weight: bold;
                    color: $grey-12;
                }
            }
        }
        & .proviso-tab-content{
            display: none;
            &#service-mb{
                display: block;
            }
            & p{
                font-family: $font-nunito;
                font-size: 16px;
                line-height: 1.375;
                color: $box-text;
                margin-bottom: 15px;
                @include breakpoint(374){
                    font-size: 14px;
                }
                &.bold{
                    font-weight: bold;
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
}