.helicopter-mb {
	&__img {
	}
	&__wrap {
		background-color: $white;
		margin-bottom: 7px;
	}
	&__content {
		padding: 20px 0 10px 0;
		p {
			font-size: 16px;
			line-height: 22px;
			font-family: $font-nunito;
			color: $box-text;
			font-weight: 300;
			&.title-top {
				font-weight: 500;
			}
		}
		h3 {
			font-size: 16px;
			line-height: 22px;
			font-weight: 700;
			font-family: $font-nunito;
			color: $box-text;
		}
		.content-item {
			padding-bottom: 10px;
		}
	}
	&__tiket {
		padding: 20px 0;
		background-color: $white;
		h3 {
			font-weight: 600;
			font-size: 26px;
			line-height: 36px;
			font-family: $font-futura;
			color: $blue-dark-cl;
		}
		.discount {
			font-weight: bold;
			font-size: 12px;
			line-height: 16px;
			font-family: $font-nunito;
			padding: 7px 10px;
			background-color: #f73e3e;
			display: inline-block;
			color: $white;
			border-radius: 6px;
			margin: 10px 0 15px 0;
		}
		ul {
			border-bottom: 1px solid $border-grey;
			li {
				p {
					position: relative;
					padding-left: 17px;
					text-overflow: ellipsis;
					overflow: hidden;
					display: -webkit-box;
					-webkit-line-clamp: 1;
					-webkit-box-orient: vertical;
					font-family: $font-nunito;
					color: $blue-dark-cl;
					font-size: 16px;
					line-height: 22px;
					&::after {
						content: "";
						position: absolute;
						top: 50%;
						left: 0;
						transform: translateY(-50%);
						width: 7px;
						height: 7px;
						border-radius: 50%;
						background: $bg-dotted;
						display: block;
					}
				}
			}
		}
		.box-paytime {
			padding: 20px 0;

			.time {
				p {
					font-weight: 600;
					font-size: 16px;
					line-height: 28px;
					font-family: $font-nunito;
					margin: 0;
				}
			}
			a {
				border-radius: 8px;
				background: $orange-az2;
				padding: 8px 55px;
				display: inline-block;
				color: $white;
				font-family: $font-futura;
				font-weight: 600;
				font-size: 20px;
				line-height: 28px;
				border: 2px solid $orange-az2;
				transition: 0.4s;
				&:hover {
					transition: 0.4s;
					background: transparent;
					color: $orange-az2;
				}
			}
		}
	}
}
.helicopter-section-mb {
	.helicopter-banner-section{
		margin-top: 50px;
		margin-bottom: 50px;
	}
	.helicopter-mb {
		margin-bottom: 50px;
	}
	.box-discover-more-section {
		margin-bottom: 50px;
	}
	.happy__client__wrapper {
		margin-bottom: 50px;
	}
	.box-discover-more-section{
		margin-bottom: 50px;
	}
}