.home-page-section {
    background-image: url("../images/image-update/brand.png");
    background-repeat: no-repeat;
    background-position: right 1050px;
    background-size: auto;
    @include breakpoint(425) {
        background-image: none;
    }
    .box-discover-more-section {
        margin-top: 100px;
        @include breakpoint(425) {
            margin-top: 0;
        }
    }
    .box-sale-list-section {
        margin-top: 100px;
        @include breakpoint(425) {
            margin-top: 50px;
        }
    }
    .box-where-go-section {
        margin-top: 100px;
        @include breakpoint(425) {
            margin-top: 50px;
        }
    }
    .client-service-section {
        margin-top: 100px;
        @include breakpoint(425) {
            margin-top: 50px;
        }
    }
    .happy__client__wrapper {
        margin-top: 100px;
        @include breakpoint(425) {
            margin-top: 50px;
        }
    }
    .box-partner-section {
        margin-top: 100px;
        margin-bottom: 100px;
    }
    @include breakpoint(425) {
        .partner-slider-section-mb {
            margin-top: 50px;
            margin-bottom: 50px;
        }
        .banner-mobile {
            margin-top: 50px;
        }
    }
}
