.private-ship-route {
    .private-ship-banner {
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .filter__mb {
        margin-bottom: 20px;
    }
    .grafted-ship-card {
        margin-bottom: 50px;
    }
    .private-ship-card {
        margin-bottom: 50px;
    }
    .box-discover-more-section {
        margin-bottom: 50px;
    }
    .happy__client__wrapper {
        margin-bottom: 50px;
    }
}