.private-ship-section {
    background-color: $alice-blue;
    .box-discover-section {
        margin-top: 100px;
    }
    .description-section {
        margin-top: 100px;
    }
    .schedule-section {
        margin-top: 100px;
    }
    .service__main {
        margin-top: 100px;
    }
    .happy__client__wrapper {
        margin-top: 100px;
    }
    .box-partner__main {
        margin: 100px 0;
    }
    .why-choose-section {
        margin-top: 100px;
    }
}
