.register-success-section {
    &__content {
        padding-top: 60px;
        padding-bottom: 60px;
        background-color: $white;
        margin-top: 200px;
        margin-bottom: 200px;

        &-icon {
            margin-bottom: 41px;
        }

        &-heading {
            font-family: $font-futura;
            font-size: 36px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: $primary-color;
        }

        &-text {
            width: 432px;
            height: 66px;
            margin: 40px auto 31px;
            font-family: $font-nunito;
            font-size: 18px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.33;
            letter-spacing: normal;
            text-align: center;
            color: $gray-12;

            span {
                font-weight: 600;
            }
        }

        &-btn {
            width: 204px;
            height: 50px;
            border-radius: $img-radius;
            background-color: $orange;
            cursor: pointer;
            margin-left: auto;
            margin-right: auto;

            .btn__content {
                display: inline-block;
                width: 100%;
                border: none;
                color: $white;
                font-family: $font-nunito;
                font-size: 18px;
                font-weight: bold;
                line-height: 50px;
            }
        }
    }
}

.register-success-background {
    background-image: url(../images/register-success/register-success-background.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}
