section.news-mb {
    .pd {
        padding: 0 15px;
    }
    overflow: hidden;
    .color-text {
        color: $dark-indigo;
    }
    .font-svn {
        font-family: $font-futura;
    }
    .font-nutisan {
        font-family: $font-nunito;
    }
    .news__breadcrum {
        h1 {
            font-family: $font-futura;
            font-weight: 600;
            font-size: 36px;
            margin-bottom: 0;
            line-height: 50px;
            padding: 30px 0;
        }
        .bread-crumb-section {
            border-bottom: none;
        }
    }
    .news__banner {
        background-color: #e3673c;
        color: $white;
        padding: 15px 0;
        h6 {
            font-size: 18px;
            margin-left: 15px;
            font-weight: 600;
        }
        .news__banner-box {
            .box {
                .box-infor {
                    margin-top: 25px;
                }
                span {
                    font-size: 14px;
                    font-weight: normal;
                    margin-top: 25px;
                    margin-bottom: 25px;
                    font-weight: 300;
                }
                h4 {
                    font-size: 30px;
                    font-weight: 600;
                    margin-top: 10px;
                    margin-bottom: 0;
                    line-height: 41.7px;
                    color: #fef1e6;
                }
            }
        }
    }
    .news__content {
        padding: 40px 0;
        h6 {
            font-size: 18px;
            font-weight: 600;
            line-height: 25px;
        }
        .box-content {
            margin-bottom: 40px;
            img {
                border-radius: 8px;
            }
            .box-description {
                margin-top: 25px;
                span {
                    font-weight: 400;
                    color: $grey-17;
                    font-size: 16px;
                    line-height: 19px;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
                h4 {
                    font-size: 24px;
                    font-weight: 600;
                    padding: 15px 0;
                    margin-bottom: 0;
                    line-height: 33px;
                }
                a {
                    font-size: 16px;
                    font-weight: 600;
                    margin-top: 15px;
                    line-height: 22px;
                }
            }
        }
    }
    .news__panigation {
        padding: 40px 0;
        a {
            width: 28px;
            height: 28px;
            color: #7f889b;
            border-radius: 100%;
            background-color: #e0eef9;
            margin: 0 2.5px;
            font-family: $font-nunito;
            font-size: 14px;
            font-weight: 600;
        }
        a.current-color {
            color: $white;
            background-color: $dark-indigo;
        }
    }

    #owl-demo .item img {
        display: block;
        width: 100%;
        height: auto;
    }
    .no-js .owl-carousel,
    .owl-carousel.owl-loaded {
        max-width: 425px;
        overflow: hidden;
    }
    .owl-nav {
        display: none;
    }
    .owl-theme .owl-dots .owl-dot span {
        width: 8px;
        height: 8px;
        background-color: white;
    }
    .owl-theme .owl-dots,
    .owl-theme .owl-nav {
        text-align: left;
        margin-left: 28px;
    }
    .owl-theme .owl-dots .owl-dot.active span,
    .owl-theme .owl-dots .owl-dot:hover span {
        background-color: inherit;
        border: 1px solid $white;
    }
}
