.yacht-details__mb {
	h2.title {
		font-weight: 600;
		font-size: 36px;
		line-height: 50px;
		font-family: $font-futura;
		color: #10284f;
	}
	.yacht-details__wrap {
		.yacht-details__title {
			padding: 20px 0;
		}
		.yacht-details__img {
			.details__img-text {
				padding: 40px 0 0 0;
				h3 {
					font-weight: 600;
					font-size: 18px;
					line-height: 25px;
					color: #10284f;
					font-family: $font-futura;
					display: inline-block;
					margin-bottom: 8px;
				}
				.rated {
					i {
						color: $yellow2-cl;
						font-size: 21px;
						padding-right: 2.5px;
					}
				}
				.price {
					p {
						font-weight: 600;
						font-size: 18px;
						line-height: 25px;
						color: #10284f;
						font-family: $font-futura;
						strong {
							font-weight: 600;
							font-size: 40px;
							line-height: 56px;
							padding: 0 3px;
						}
					}
				}
			}
		}
		.info-section {
			background: #10284f;
			padding: 35px 0 13px 0;
			.info-text {
				span {
					font-size: 16px;
					line-height: 22px;
					color: $white;
					font-family: $font-nunito;
				}
				p {
					font-weight: bold;
					font-size: 24px;
					line-height: 33px;
					color: $white;
					font-family: $font-nunito;
				}
			}
		}
		.description-section {
			&__wrap {
				padding: 18px 0 12px 0;

				p {
					font-size: 16px;
					line-height: 22px;
					font-family: $font-nunito;
					color: $box-text;
				}
			}
		}
		.tab-content {
			padding: 20px 0 18px 0;
			.itinenary-section__title {
				margin-bottom: 10px;
			}
			.tab {
				margin-bottom: 25px;
				.owl-item {
					float: none;
				}
				.owl-stage {
					display: flex;
				}
				a {
					font-size: 18px;
					line-height: 25px;
					font-family: $font-nunito;
					font-weight: normal;
					color: #889dc0;
					padding-bottom: 4px;
					position: relative;
					display: inline-block;
					&::after {
						content: "";
						position: absolute;
						width: 0%;
						height: 1px;
						display: block;
						background: #10284f;
						transition: width 0.4s ease-in-out;
					}
					&:hover {
						color: #10284f;
						font-weight: bold;
					}
					&.active {
						color: #10284f;
						font-weight: bold;
						&::after {
							content: "";
							position: absolute;
							width: 100%;
							height: 1px;
							display: block;
							background: #10284f;
							transition: width 0.4s ease-in-out;
						}
					}
				}
			}
			.content {
				margin: 15px 0 12px 0;
				background: $white;
				border-radius: 8px;
				padding: 15px 27px;
				h3 {
					font-weight: bold;
					font-size: 16px;
					line-height: 22px;
					font-family: $font-nunito;
					color: #10284f;
					position: relative;
					padding-left: 8px;
					&::after {
						content: "";
						position: absolute;
						left: -8px;
						top: 50%;
						transform: translateY(-50%);
						width: 7px;
						height: 7px;
						background: $orange-az;
						display: block;
						border-radius: 50%;
					}
				}
				ul {
					li {
						p {
							padding: 0;
							margin: 0;
							font-weight: normal;
							font-size: 16px;
							line-height: 22px;
							font-family: $font-nunito;
							color: $box-text;
						}
					}
				}
			}
		}
		.recommend-section {
			&__wrap {
				.recommend-content {
					background: $white;
					margin: 10px 0;
					padding: 20px 0;
					.img {
						overflow: hidden;
						border-radius: 10px;
						position: relative;
						img {
							width: 100%;
						}
						.discount {
							position: absolute;
							top: 37px;
							left: 0;
							span {
								font-size: 12px;
								line-height: 16px;
								font-family: $font-nunito;
								color: $white;
								display: inline-block;
								border-radius: 0px 6px 6px 0px;
								background: $red;
								padding: 7px 14px;
							}
						}
					}
					.text {
						h3.title {
							font-weight: 600;
							font-size: 20px;
							line-height: 28px;
							font-family: $font-futura;
							color: #10284f;
							padding-top: 15px;
						}
						.btn-group {
							span {
								font-weight: 600;
								font-size: 12px;
								line-height: 16px;
								font-family: $font-nunito;
								color: $blue-light-1;
								background: $blue-light-2;
								margin-right: 8px;
								border-radius: 6px;
								transition: all 0.4s ease-in-out;
								border: 1px solid transparent;
								padding: 7px 12px;
								&:hover {
									border: 1px solid $blue-7;
								}
							}
						}
						ul {
							padding: 20px 0;
							border-bottom: 1px solid $border-grey;
							li {
								p {
									text-overflow: ellipsis;
									overflow: hidden;
									display: -webkit-box;
									-webkit-line-clamp: 1;
									-webkit-box-orient: vertical;
									font-size: 16px;
									line-height: 22px;
									font-family: $font-nunito;
									color: $box-text;
								}
							}
						}
						p.price {
							font-size: 20px;
							line-height: 1;
							color: #10284f;
							font-family: $font-futura;
							font-weight: 600;
							padding-top: 15px;
						}
						a.btn.btn-booking {
							font-weight: 600;
							font-size: 20px;
							font-family: $font-futura;
							padding: 10px 0;
							text-transform: uppercase;
							border-radius: 8px;
							background: $orange-az2;
							color: $white;
							width: 100%;
							text-align: center;
							transition: all 0.3s ease-in-out;
							border: 2px solid $orange-az2;
							&:hover {
								color: $orange-az2;
								background: transparent;
							}
						}
					}
					.recommend-content__booking {
						display: flex;
						align-items: center;
						justify-content: space-between;
						ul {
							li {
								p {
									font-weight: 600;
									font-family: $font-nunito;
									color: #10284f;
									font-size: 16px;
									line-height: 22px;
								}
							}
						}
						a {
							color: $white;
							background: $orange-az2;
							padding: 7px 57px;
							text-align: center;
							text-align: center;
							transition: all 0.3s ease-in-out;
							border: 2px solid $orange-az2;
							font-weight: 600;
							font-size: 20px;
							font-family: $font-futura;
							transition: all 0.3s ease-in-out;
							border: 2px solid $orange-az2;
							&:hover {
								color: $orange-az2;
								background: transparent;
							}
						}
					}
				}
			}
		}
		.review-section {
			&__wrap {
				span {
					font-size: 18px;
					line-height: 25px;
					color: $box-text;
					font-family: $font-nunito;
					display: block;
				}
				p {
					font-weight: 600;
					font-size: 64px;
					color: #10284f;
					margin: 0;
					display: inline-block;
				}
				.rated {
					i {
						color: $yellow2-cl;
						font-size: 21px;
						padding-right: 2.5px;
					}
				}
				.progress-rating {
					background: $white;
					border-radius: 8px;
					padding: 23px 13px;
					margin: 25px 0 20px 0;
				}
				.progress-group {
					display: flex;
					align-items: center;
					.check {
						transform: translateY(4px);
						flex-grow: 1;
						label {
							font-size: 18px;
							line-height: 25px;
							color: $box-text;
						}
					}
					.progress-box {
						display: flex;
						align-items: center;

						.progress {
							position: relative;
							height: 20px;
							box-shadow: none;
							border-radius: 50px;
							width: 197px;
						}
						.progress-bar {
							background: #f68b31;
							box-shadow: none;
							position: relative;
							animation: animate-positive 2s;
						}
						.progress-completed {
							padding-left: 6px;
							width: 65px;
						}
					}
				}
				.btn-review {
					font-weight: 600;
					font-size: 20px;
					font-family: $font-futura;
					padding: 10px 0;
					border-radius: 8px;
					background: #f78b31;
					color: #fff;
					width: 100%;
					text-align: center;
					transition: all 0.3s ease-in-out;
					border: 2px solid #f78b31;
					margin: 30px 0 20px 0;
					transition: all 0.3s ease-in-out;
					border: 2px solid $orange-az2;
					&:hover {
						color: $orange-az2;
						background: transparent;
					}
				}
			}
		}
	}
}
@keyframes animate-positive {
	0% {
		width: 0;
	}
}
