.bannner-section {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:586px;
    width: 100%
}
.banner-cano{
    display: flex;
    align-items: flex-end;
    font-family: $font-nunito;
    @media (max-width: 768px){
        height: 500px !important;
    }
    &__txt {
        font-size: 18px;
        color: $home-title-color;
        font-weight: 600;
        line-height: 57px;
        font-family: $font-futura;
    }
    &__txt:last-child {
        margin-left: 30px;
    }
    &-inner{
        width: 100%;
        margin: 0 auto;
        margin-bottom: 50px;
        font-family: $font-nunito;
        .cano-service{
            border-radius: 20px;
            background-color: $white;
            padding: 40px 40px 40px 45px;
            transition: all .25s ease-in-out;
            @media(min-width: 768px){
                &-bd {
                    border: 1px solid $border-home;
                }
            }
            @media (max-width: 1024px){
                padding: 40px 30px;
            }
            @media (max-width: 768px){
                padding: 30px 10px 30px 15px;
            }
            &.change-br{
                border-bottom-left-radius: 0;
            }
        }
        .cano-title{
            font-size: 60px;
            margin-bottom: 25px;
            color: $white;
            font-weight: 600;
            font-family: $font-futura;
            line-height: 57px;
            &-color {
                color: $home-title-color;
            }
            @media (max-width: 768px){
                margin-bottom: 15px;
            }
            @media (max-width: 586px){
                margin-bottom: 0;
            }
        }
        .cano-service{
            .grid-service{
                width: 25%;
            }
            &-detail{
                position: relative;
                margin-right: 30px;
                .left-img img{
                    display: block;
                    cursor: pointer;
                    @media (max-width: 768px){
                        width: 70%;
                    }
                    @media (max-width: 586px){
                        width: 90%  ;
                    }
                }
                @media (max-width: 1024px){
                    margin-right: 20px;
                }
                @media (max-width: 768px){
                    margin-right: 10px;
                }
                &:not(:last-of-type):after{
                    position: absolute;
                    content:'';
                    background-color: $border-grey;
                    height: 100%;
                    width: 1px;
                    right: 0;
                    top: 0;
                }
                &:not(:last-of-type){
                    padding-right: 20px;
                    @media (max-width: 1024px){
                        padding-right: 12px;
                    }
                }
                .detail-left{
                    position: relative;
                    width: 100%;
                    .content-date{
                        position: relative;
                    }
                    .left-img{
                        margin-right: 12px;
                        @media (max-width: 768px){
                            margin-right: 5px;
                        }
                    }
                    .select-icon{
                        width: 80%;
                        position: relative;
                        .control-select{
                            appearance: none;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            padding-top: 20px;
                            option{
                                border-bottom:  1px solid $border-grey;
                                background: transparent;
                            }
                        }
                        @media (max-width: 586px){
                            width: 100%;
                        }
                        .icon-arrow-down{
                            position: absolute;
                            top: 50%;
                            right: 0;
                            transform: translateY(-50%);
                            cursor: pointer;
                            pointer-events: none;
                            svg{
                                width: 15px;
                                fill: $grey-16;
                                font-weight: 700;
                            }
                            @media (max-width: 768px) {
                                right: 9px;
                            }
                            @media (max-width: 586px) {
                                right: 0;
                            }
                            &.pt-ev{
                                pointer-events: all;
                            }
                        }
                        .content-head{
                            margin-bottom: -20px;
                            &.date-mr{
                                margin-bottom: -30px;
                            }
                        }
                    }
                    .left-content{
                        .content-head{
                            color: $banner-content-head;
                            font-size: 16px;
                            @media (max-width: 768px){
                                font-size: 14px;
                            }
                            cursor: pointer;
                        }
                        .input__control{
                            background-color: transparent;
                            width: 100%;
                            color:$banner-content-bottom;
                            font-weight: 600;
                            font-size: 16px;
                            font-family: $font-nunito;
                            &::placeholder{
                                color:$banner-content-bottom;
                                font-weight: 600;
                                font-size: 16px;
                                @media (max-width: 1024px){
                                    font-size: 14px;
                                }
                            }
                        }
                        .content-bottom{
                            color:$banner-content-bottom;
                            font-weight: 600;
                            font-size: 16px;
                            cursor: pointer;
                            max-width: 150px;
                            @media (max-width: 1024px){
                                font-size: 14px;
                            }
                            @media (max-width: 425px){
                                font-size: 18px;
                            }
                        }
                        .options-select{
                            position: absolute;
                            top: 94px;
                            left: -36%;
                            background-color: white;
                            width: 340px;
                            max-height: 0;
                            z-index: 100;
                            border: 1px solid #626f86;
                            padding: 0 20px;
                            border-bottom-left-radius: 20px;
                            border-bottom-right-radius: 20px;
                            overflow: hidden;
                            transition: all .2s ease-in-out;
                            opacity: 0;
                            box-shadow: none;
                            @media(max-width:1024px){
                                left: -53%;
                                width: 290px;
                            }
                            @media(max-width: 768px){
                                top: 76px;
                                width: 234px;
                                left: -50%;
                            }
                            &.active{
                                min-height: 200px;
                                padding: 15px 20px;
                                opacity: 1;
                            }
                            .numb-people{
                                padding: 5px 0;
                                &:not(:last-of-type){
                                    border-bottom: 1px solid #ccc;
                                }
                            }
                            .content-left{
                                span{
                                    color:$banner-content-bottom;
                                    font-weight: 600;
                                    font-size: 16px;
                                    cursor: pointer;
                                    @media (max-width: 768px){
                                        font-size: 13px;
                                    }
                                }
                                p{
                                    font-size: 14px;
                                    color: black;
                                }
                            }
                            .content-right{
                                svg{
                                    opacity: .5;
                                    width: 25px;
                                    height: 25px;
                                    cursor: pointer;
                                    font-weight: 600;
                                    transition: all .3s ease;
                                    &:hover,&:focus{
                                        opacity: 1;
                                    }
                                }
                                span{
                                    color: black;
                                    width: 30px;
                                    display: inline-block;
                                    text-align: center;
                                }
                            }
                        }
                        .services-list{
                            left: -40%;
                            width: 350px;
                            @media(max-width:1024px){
                                left: -54%;
                                width: 195px;
                            }
                            .service-head{
                                color: #697fa2;
                                font-size: 16px;
                                line-height: 30px;
                            }
                            .service-type{
                                color: #153262;
                                font-weight: 600;
                                font-size: 16px;
                                cursor: pointer;
                                line-height: 30px;
                            }
                            &.active{
                                min-height: 120px;
                            }
                        }
                    }
                }
                .detail-arr{
                    cursor: pointer;
                }
            }
            .btn-find{
                border: none;
                outline: none;
                border-radius: 4px;
                background-color: $red;
                height: 60px;
                width: 23%;
                &-orange {
                    background-color: $orange-3;
                }
                @media (max-width: 768px){
                    width: 18%;
                    margin-left: 5px;
                    height: 45px;
                }
                &-link{
                    display: inline-block;
                    color: $white;
                    text-transform: uppercase;
                    @media (max-width: 425px){
                        text-transform: none;
                    }
                    font-size: 18px;
                    width: 100%;
                    @media (max-width: 768px){
                        font-size: 15px;
                    }
                    &:hover {
                        color: #F78B31;
                    }
                }
            }
        }
        .flatpickr-input{
            border: none;
            outline: none;
            color:$banner-content-bottom;
            font-weight: 600;
            font-size: 14px;
            @include min-breakpoint(768) {
                margin-top: 5px;
            }
            @include breakpoint(425) {
                font-size: 18px;
            }
            font-family: $font-nunito;
            padding: 0;
            background-color: transparent;
            &:hover, &:focus, &:active{
                outline: none;
                box-shadow: none;
            } 
        }
    }
    p{
        margin: 0;
    }
}
@media(min-width: 1440px){
    .flatpickr-calendar{
        top: 536.5px !important;
        left: 862.663px !important;
        right: auto;
    }
}