.banner-boat {
    .cano-title {
        @media (max-width: 768px) {
            font-size: 50px;
        }
        @media (max-width: 586px) {
            font-size: 36px;
            color: $grey-12;
        }
    }
    .cano-service {
        padding: 40px 28px;
        @media (max-width: 1024px) {
            padding: 35px 15px;
        }
        @media (max-width: 768px) {
            flex-wrap: wrap;
            padding: 20px 0;
        }
        @media (max-width: 586px) {
            background-color: transparent;
            flex-direction: column;
        }
        &.change-br{
            border-bottom-left-radius: 0;
            @media(max-width: 768px){
                border-bottom-left-radius: 20px;
            }
        }
        .grid-service {
            width: 20%;
            @media (max-width: 768px) {
                width: 33.333%;
                margin-bottom: 20px;
            }
            @media (max-width: 586px) {
                width: 100%;
                margin-bottom: 8px;
                &:after {
                    display: none;
                }
            }
        }
        &-detail {
            margin-right: 40px;
            &.last-row:after {
                @media (max-width: 768px) {
                    display: none;
                }
            }
            .detail-left {
                position: relative;
                .left-img {
                    @media (min-width:769px) and (max-width: 1024px) {
                        img{
                            width: 100%;
                            margin-right: -8px;
                        }
                    }
                }

                .content-bottom,
                .content-head {
                    @media (max-width: 1024px) {
                        font-size: 14px;
                    }
                }
                .left-content{
                    .options-select{
                        left: -55%;
                        width: 300px;
                        box-shadow: 1px 0 0 #e6e6e6, -1px 0 0 #e6e6e6, 0 1px 0 #e6e6e6, 0 -1px 0 #e6e6e6, 0 3px 13px rgba(0,0,0,.1);
                        @media(max-width:1024px){
                            top: 85px;
                            left: -50%;
                        }
                        @media(max-width: 768px){
                            top: 45px;
                            border-radius: 5px;
                            width: 234px;
                            left: -50%;
                        }
                    }
                    .services-list{
                        left: -42.5%;
                        width: 155%;
                        @media(max-width:1024px){
                            left: -43%;
                            width: 195px;
                        }
                        @media(max-width: 768px){
                            left: -26.5%;
                            width: 195px;
                        }
                    }
                }
            }
            &:not(:last-of-type):after {
                right: 2px;
            }
            @media (max-width: 1024px) {
                margin-right: 12px;
            }
            @media (max-width: 768px) {
                padding-right: 10px;
                padding-left: 20px;
                margin-right: 0;
            }
            @media (max-width: 586px) {
                padding: 5px 10px;
                background-color: $white;
                border-radius: 8px;
                border: 1px solid $white;
                &:hover,
                &:focus {
                    border: 1px solid $grey-21;
                }
            }
        }
        .btn-find {
            width: 200px;
            @media (max-width: 1024px) {
                width: 150px;
                height: 50px;
            }
            @media (max-width: 768px) {
                width: 225px;
            }
        }
        .btn {
            width: 100%;
            margin-top: 20px;
            padding: 11px 15px;
            font-weight: 600;
            font-size: 24px;
            font-family: $font-futura;
        }
    }
}
