.box-sale-list-section {
    .box-sale-list {
        overflow: hidden;
        &__title {
            font-family: $font-futura;
            font-size: 30px;
            font-weight: 600;
            color: #10284f;
            margin-bottom: 35px;
            @include breakpoint(425) {
                margin-bottom: 20px;
                font-size: 26px;
                line-height: 36.14px;
            }
        }
        &__box {
            text-decoration: none;
            &-img {
                position: relative;
                display: inline-block;
                border-radius: 20px;
                overflow: hidden;
                img {
                    object-fit: cover;
                    border-radius: 20px;
                    transition: all 0.5s ease-in-out;
                    @include min-breakpoint(768) {
                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                    z-index: 0;
                }
                span {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    width: 90px;
                    height: 30px;
                    background-color: #f54f3f;
                    top: 34px;
                    z-index: 1;
                    font-family: $font-nunito;
                    font-size: 12px;
                    font-weight: bold;
                    line-height: 30px;
                    padding-left: 15px;
                    color: #fff;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }
            }
            &-title {
                font-family: $font-futura;
                font-size: 20px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #28345e;
                margin-top: 18px;
                @include breakpoint(425) {
                    font-size: 18px;
                    color: #10284f;
                    line-height: 24.84px;
                    margin: 10px 0;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }
            &-price {
                font-family: $font-futura;
                font-size: 18px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #222f5a;
                @include breakpoint(425) {
                    color: #10284f;
                    line-height: 25.2px;
                }
            }
        }
    }
}
