.box-yacht__title {
    h1 {
        font-family: $font-futura;
        font-size: 30px;
        font-weight: 600;
        line-height: 1;
        display: inline-block;
        padding: 0;
        color: $blue-dark-cl;
    }
}
.yacht__items {
    margin: 30px 0;
    border-radius: $border-radius-form;
    overflow: hidden;
    max-height: 100%;
    transition: all 0.3s ease-in-out;
    &:hover {
        transition: all 0.3s ease-in-out;
        box-shadow: 2px 3px 12px 2px $box-shadow;
    }
    &:hover {
        .yacht__items-img {
            img {
                transition: 0.3s;
                transform: scale(1.1);
            }
        }
    }
    &-img {
        position: relative;
        overflow: hidden;
        img {
            transition: 0.3s;
            transform: scale(1);
            width: 100%;
            display: block;
        }
        .endow {
            position: absolute;
            top: 44px;
            left: 0;
            transition: all 0.3s ease-in-out;
            p {
                background: $red-bg-cl;
                color: $white;
                padding: 8px 18px;
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
                line-height: 1;
                font-size: 13px;
                font-family: $font-nunito;
            }
        }
    }
    &-text {
        background-color: $white;
        padding: 20px 23px 23px 23px;
        h3.title {
            font-size: 24px;
            display: inline-block;
            padding: 8px 0;
            margin-bottom: 6px;
            color: $blue-dark-cl;
            font-weight: 600;
            font-family: $font-futura;
        }
        ul {
            border-bottom: 1px solid $border-color4;
            padding-bottom: 24px;
            li {
                display: flex;
                align-items: baseline;
                margin: 4px 0;
                p {
                    font-size: 14px;
                    line-height: 1.71;
                    color: $blue-cl;
                    line-clamp: 1;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    font-family: $font-nunito;
                    margin-bottom: 0;
                }
                .dots {
                    width: 8px;
                    height: 8px;
                    background: $bg-dotted;
                    border-radius: 50%;
                    display: block;
                    margin-right: 10px;
                }
            }
        }
        .price {
            display: flex;
            align-items: baseline;
            h3 {
                font-size: 20px;
                color: $blue-dark-cl;
                font-weight: bold;
                margin: 20px 10px 20px 0;
                font-family: $font-futura;
            }
            span {
                font-size: 16px;
                color: #949cb4;
                text-decoration: line-through;
                font-family: $font-nunito;
            }
        }
        .btn-booking {
            padding: 11px 0;
            color: $white;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 600;
            background: $pinkish-orange;
            border: 2px solid $pinkish-orange;
            display: block;
            border-radius: 6px;
            transition: 0.3s;
            font-family: $font-futura;
            &:hover {
                background: transparent;
                color: $pinkish-orange;
                transition: 0.3s;
                border: 2px solid $pinkish-orange;
            }
        }
    }
}
