.partner-slider-section-mb{
    .owl-carousel .owl-item img {
        width: 90%;
        margin-left: 2px;
    }
    .owl-carousel .owl-stage {
        display: flex;
        align-items: center;    
    }
}
