.box-discover-more-section {
    .discover-more {
        &__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-right: 90px;
            @include breakpoint(768) {
                margin-bottom: 40px;
            }
            @include breakpoint(425) {
                margin-bottom: 0;
                padding-right: 0;
            }
            @include breakpointminmax(768, 1199) {
                padding-right: 0;
            }
            .content__title {
                font-family: $font-futura;
                font-size: 30px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #1c274e;
                margin-bottom: 30px;
                @include breakpointminmax(320, 425) {
                    font-size: 26px;
                    margin-bottom: 20px;
                    line-height: 36.14px;
                    color: #10284f;
                }

            }
            .content__text {
                font-family: $font-nunito;
                font-size: 16px;
                line-height: 1.5;
                color: #616980;
                -webkit-hyphens: auto;
                -ms-hyphens: auto;
                hyphens: auto;
            }
        }
        &__video {
            @include breakpoint(1024) {
                padding-left: 0px;
            }
            video {
                width: 100%;
                border-radius: 20px;
                @include breakpoint(425) {
                    border-radius: 10px;
                }
                outline: none;
            }
        }
    }
}
