.box-yacht-horizontal {
    margin: 0 auto;
    display: flex;
    @include breakpoint(1199) {
        flex-direction: column;
    }
    &__group {
        flex: 1;
        padding: 35px 40px;
        background: $white;
        border-radius: 10px;
        @include breakpoint(1240) {
            padding: 20px;
        }
        @include breakpoint(991) {
            flex-direction: column;
        }
    }
    &__img {
        width: 340px;
        margin-right: 58px;
        position: relative;
        border-radius: 8px;
        overflow: hidden;
        height: 100%;
        cursor: pointer;
        & img {
            height: 100%;
            object-fit: cover;
            transition: all 0.4s ease-in-out;
            transform: scale(1);
        }
        &:hover img {
            transform: scale(1.1);
        }
        @include breakpoint(1199) {
            width: 300px;
            margin-right: 15px;
        }
        @include breakpoint(991) {
            width: 100%;
            margin-right: 0;
            margin-bottom: 15px;
            & img {
                width: 100%;
                object-fit: cover;
            }
        }
        & .photos {
            position: absolute;
            right: 20px;
            bottom: 16px;
            font-family: $font-nunito;
            font-size: 16px;
            line-height: 1;
            color: $grey-17;
            padding: 12px 20px;
            background: $white;
            border-radius: 6px;
            color: $grey-17;
            display: flex;
            align-items: center;
            & i {
                font-size: 15px;
                padding-right: 10px;
                position: relative;
            }
            &:hover {
                color: $orange-2;
            }
        }
    }
    &__info {
        flex: 1;
        & h3 {
            font-size: 24px;
            font-weight: 600;
            color: $grey-12;
            margin: 0;
            line-height: 1;
        }
        & ul {
            @include breakpoint(1199) {
                margin-right: 10px;
            }
            & li {
                font-family: $font-nunito;
                font-size: 16px;
                font-weight: normal;
                line-height: 1.88;
                color: $grey-13;
                position: relative;
                padding-left: 22px;
                &::after {
                    content: "";
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    background: $blue-6;
                    border-radius: 50px;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
        &-reserve {
            padding-left: 80px;
            border-left: 1px solid $border-color4;
            @include breakpoint(1240) {
                padding-left: 60px;
            }
            @include breakpoint(1199) {
                padding-left: 20px;
            }
            @include breakpoint(991) {
                border-left: none;
                padding: 0;
                margin-top: 15px;
                width: 100%;
                & .price {
                    & span {
                        text-align: left;
                    }
                }
            }
            & .price {
                display: flex;
                flex-direction: column;
                & span {
                    text-align: right;
                    @include breakpoint(991) {
                        text-align: left;
                    }
                }
                & .price-new {
                    font-family: $font-futura;
                    font-size: 24px;
                    font-weight: bold;
                    line-height: 1;
                    color: $grey-12;
                    display: inline-block;
                }
                & .price-old {
                    font-family: $font-nunito;
                    font-size: 16px;
                    font-weight: normal;
                    line-height: 1;
                    color: $grey-14;
                    padding: 11px 0 25px 0;
                    display: inline-block;
                    text-decoration: line-through;
                }
            }
            & .btn-reserve {
                display: inline-block;
                font-family: $font-futura;
                font-size: 18px;
                font-weight: 600;
                line-height: 1;
                text-align: center;
                padding: 18px 56px;
                border-radius: 6px;
                background-color: $orange-3;
                text-transform: uppercase;
                white-space: nowrap;
                overflow: hidden;
                position: relative;
                color: $white;
                border: 1px solid $pinkish-orange;
                &:hover {
                    background: transparent;
                    color: $pinkish-orange;
                    transition: 0.3s;
                }
            }
        }
    }
    &__sale {
        width: 90px;
        margin-left: 26px;
        border-radius: 10px;
        box-shadow: none;
        border: 1px dashed $grey-15;
        background-color: transparent;
        position: relative;
        &.sale {
            background-color: $orange-4;
            border: 1px solid $orange-4;
            box-shadow: 0px 20px 40px 0 $grey-16;
        }
        & span {
            font-family: $font-futura;
            font-size: 16px;
            font-weight: 600;
            line-height: 1;
            color: $white;
            text-transform: uppercase;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%) rotate(90deg);
            white-space: nowrap;
        }
        @include breakpoint(1199) {
            width: 100%;
            height: 50px;
            margin: 15px 0 0 0;
            & span {
                transform: translateX(-50%) translateY(-50%) rotate(0deg);
            }
        }
    }
}
.mb-37 {
    margin-bottom: 37px;
}
.btn-hover-wrapper {
    padding: 7px 0 13px 0;
    span.btn-hover {
        display: inline-flex;
        font-size: 13px;
        padding: 9px 18px;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        margin: 2px 0;
        margin-right: 8px;
        line-height: 1;
        border: 1px solid $white;
        cursor: pointer;
        background-color: $blue-4;
        color: $blue-light-1;
        &:hover {
            border: 1px solid $blue-7;
        }
    }
    span.orange {
        background-color: $orange-1;
        color: $orange-2;
        &:hover {
            border: 1px solid $orange-2;
        }
    }
}
