.box-discover-section {
    &__left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 90px;
        @include breakpoint(1024) {
            margin-top:50px;
        }
        @include breakpoint(768) {
            margin-top:0px;
        }
        &-heading {
            font-family: $font-futura;
            margin-bottom: 22px;
            font-size: 48px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: $box-heading;
        }

        &-text {
            font-family: $font-nunito;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: left;
            color: $box-text;
        }
    }

    &__right {
        &-img {
            border-radius: $img-radius;
        }
    }
}