button {
    box-shadow: none !important;
}
.btn-orange-az {
    background: $orange-az;
    border-radius: 8px;
    color: $white;
    &:hover {
        background: $white;
        color: $orange-az;
        border: 1px solid $orange-az;
    }
}

.btn-light-primary{
    background-color: #E0F3FB;
    border-radius: 6px;
    color: #479DC1;
    border: 1px solid #E0F3FB;
    &:hover {
        background-color: #E0F3FB;
        border: 1px solid #85CEEC;
    }
}

.btn-light-red{
    background-color: #F73E3E;
    border-radius: 6px;
    color: #fff;
}
