.description-section {
    background-color: $alice-blue;
    .description__left {
        padding-right: 110px;
        .left-top {
            font-family: $font-futura;
            font-size: 24px;
            font-weight: 600;
            color: $grey-12;
            line-height: 24px;
        }
        .left-bot {
            font-family: $font-nunito;
            font-size: 16px;
            line-height: 24px;
            color: $box-text;
        }
        .btn-description {
            font-family: $font-futura;
            margin-top: 20px;
            font-size: 16px;
            font-weight: 600;
            color: $grey-12;
            border: 1px solid $grey-12;
            border-radius: 6px;
            padding: 10px 35px;
            background-color: $alice-blue;
            transition: 0.2s;
            &:hover {
                background-color: $red;
                color: $white;
                border: 1px solid $red;
            }
        }
    }
    .description__right {
        display: flex;
        justify-content: center;
        padding: 15px 75px 15px 15px;
        img {
            width: 166px;
            height: 166px;
        }
    }
}
