.filter__mb {
    h3 {
        font-family: $font-futura;
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 36px;
        color: $dark-indigo;
        margin-bottom: 0;
    }
    .mb__wrapper-filter{
        border-radius: 6px;
        border: 1px solid #d1eaf5;
        background-color: $white;
        height: 50px;
        width: 50px;
    }
}
