#loader{
    position: absolute;
    bottom: 0;
    left: 50%;
	transform: translateX(-50%) translateY(50%);
	background: $alice-blue;
	padding: 0 20px;
}
.loader {
	height: 30px;
	width: 90px;
	position: relative;
	overflow: hidden;
	transform: translate3d(0, 0, 0);
	.Bar {
		background: $blue-light-1;
		position: absolute;
		bottom: -100%;
		transform: translate3d(0, 0, 0);
		opacity: 0;
		width: 10px;
		height: 30px;
		border-radius: 2px;
		@for $i from 1 through 6 {
			&:nth-child(#{$i}) {
				left: ($i * 15px) - 15px;
				animation: bottom-top 2s infinite ease-in-out ($i * 0.2s);
			}
		}
	}
}

@keyframes bottom-top {
	0% {
		transform: translate3d(0, 0, 0);
		opacity: 0;
	}
	
	50% {
		transform: translate3d(0, -30px, 0);
		opacity: 1;
	}
}