.ship-video{
    position: relative;
    & .title{
        font-family: $font-futura;
        font-weight: 600;
        font-size: 26px;
        line-height: 1.3;
        color: $grey-12;
        margin-bottom: 12px;
    }
    & .video{
        height: 180px;
        overflow: hidden;
        position: relative;
        border-radius: 10px;
        & video{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        & iframe{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    & .play-icon{
        &::before{
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%)translateY(-50%);
            width: 62px;
            height: 62px;
            background: $white;
            border-radius: 50%;
            z-index: 9;
        }
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%)translateY(-50%);
        width: 82px;
        height: 82px;
        background: rgba(17, 17, 17, 0.55);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        & i{
            color: $grey-23;
            font-size: 15px;
            position: relative;
            z-index: 10;
        }
    }
}