.select-route{
    padding: 25px;
    background: $white;
    & .img{
        overflow: hidden;
        height: 240px;
        & img{
            border-radius: 10px;
            object-fit: cover;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    & .title{
        font-family: $font-futura;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        color: $grey-12;
        margin-top: 12px;
        margin-bottom: 8px;
    }
    & .btn-route{
        display: block;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $orange-az2;
        border-radius: 8px;
        font-family: $font-futura;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        color:$white;
    }
}