.ship-card-item {
    margin-bottom: 10px;
    padding: 25px 0;
    background: #FFFFFF;
    &:last-child {
        margin-bottom: 0px;
    }
    .ship-card{
        .card-img{
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            img{
                width: 100%;
                display: block;
            }
            .card-img-button {
                position: absolute;
                bottom: 13px;
                right: 14px;
                font-size: 16px;
                font-weight: normal;
                color: $gray-15;
                background-color: $white;
                border-radius: 6px;
                padding: 8px 20px;
                outline: none;
                border: none;
                white-space: nowrap;
                @include breakpoint(768) {
                    font-size: 12px;
                    padding: 6px 15px;
                    right: 10px;
                    bottom: 8px;
                }
                @include breakpoint(426) {
                    right: 20px;
                    bottom: 15px;
                }
            }
        }
        .card--body{
            padding: 20px 0;
            border-bottom: 1px solid #D0E1E7;
        }
        .card-title{
            font-family: $font-futura;
            color: #10284F;
            font-size: 20px;
            line-height: 28px;
            font-weight: 600;
        }
        .card-detail-item{
            list-style-position: inside;
            padding: 0 12px;
            position: relative;
            &:before{
                content: "\2022";
                color: #D1E5EE;
                font-weight: bold;
                display: inline-block;
                width: 6px;
                height: 6px;
                position: absolute;
                left: 0;
            }
            .item-link, span{
                font-family: $font-nunito;
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                color: #616980;
            }
        }
        .card-top-button{
            a:hover{
                color: #479DC1;
            }
        }
        .current-price{
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            color: #10284F;
        }
        .main-price{
            font-weight: 450;
            font-size: 16px;
            line-height: 22px;
            text-decoration-line: line-through;
            color: #949CB4;
        }
        .btn-sale{
            padding: 7 10px;
            font-size: 12px;
            font-family: $font-nunito;
            line-height: 16px;
            font-weight: bold;
        }
        .card-btn{
            width: 100%;
            a{
                color: #fff;
                font-weight: 600;
                font-size: 20px;
            }
        }
        p{
            margin: 0;
        }
    }
}
