html {
    scroll-behavior: smooth;
}

body,
input,
textarea {
    font-family: $font-futura;
    font-weight: 400;
    color: $text-color;
}

body.modal-open {
    overflow: hidden;
}

body {
    background-color: $alice-blue;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-roboto;
    font-weight: 500;
}

@media (min-width: 1200px) {
    .container{
        max-width: 1410px;
    }
}

