// global variable css
$white: #fff;
$bd-black: #767676;
$bd-b: #d8d8d8;
$nav-color: #f5f6fa;
$nav-black: #100e0c;
$headding-color: #4f4f4f;
$text-color: #687188;
$blue: #2c9cdb;
$blue2: #4953ed;
$blue-light: #2ea4e6;
$black: #02010e;
$primary-color: #d4b26b;
$green: #28a745;
$border-color: #d1d1d1;
$icon-bround: #444444;
$white-light: #e5e5e5;
$yellow: #e6c069;
$yellow2-cl: #ffc107;
$white-light: #e5e5e5;
$bg-footer: #2c2c2c;
$color-hover-yellow: rgb(238, 217, 34);
$border-color2: #e1d6bf;
$border-color3: #bdbdbd;
$border-color-grey: rgba(209, 209, 209, 0.5);
$border-color-1: #e2ebee;
$border-color-4: #c9dceb;
$border-color-5: #f2f7fb;
$red: #f54f3f;
$line-color: #cfe1e9;
$pinkish-orange: #ff7430;
$orange-11: #ff722c;
$red-bg-cl: #f54f3f;
$text-color: #687188;
$grey-3: #f3f4f6;
$line-bg-cl: #d8edf7;
$line-bg-cl: #7b8492;
// Fonts
$font-roboto: "Roboto";
$font-poppins: "Poppins", sans-serif;
$font-opensans: "Open Sans", sans-serif;
$font-futura: "SVN-Futura";
$font-nunito: "Nunito Sans", sans-serif;

// Border radius
$img-radius: 20px;
$border-radius-form: 10px;
$select-radius: 4px;

// Sheet Colors
$box-heading: #1c274e;
$box-text: #616980;
$alice-blue: #f0f8fe;
$grey-12: #949cb4;
$grey-13: #545454;
$brown-medium: #d4b26b;
$brown-opacity: #d4b26b61;
$brown-light: #d4b880;
$brown-price: #aa8b47;
$footer-bg: #2c2c2c;
$text-color: #555555;
$background: #e5e5e5;
$blue-dark: #2d9cdb;
$orange_dark: #f2994a;
$background: #e5e5e5;
$blue-dark: #2d9cdb;
$btn-red: #e02020;
$brown-4: #f0eadf;
$grey-color: #333333;
$dark-border: #000000;
$bg-cancle: #292929;
$grey-10: #848484;
$brown-3: #d1d1d1;
$brown-medium-opacity: rgba(212, 178, 107, 0.7);
$bg-table: #f8faff;
$blue3: #6da6f2;
$grey-10: #848484;
$brown-3: #d1d1d1;
$overlay: rgba(0, 0, 0, 0.2);
$brown-medium-opacity: rgba(212, 178, 107, 0.7);
$black-iframe: #333639;
$blue-4: #e0f3fb;
$blue-5: #479dc1;
$blue-6: #d1e5ee;
$blue-7: #85ceec;
$orange-1: #ffeadf;
$orange-2: #ff651b;
$orange-3: #fb8834;
$orange-4: #f54f3f;
$grey-12: #10284f;
$grey-13: #505a6d;
$grey-14: #949cb4;
$grey-15: #a4aec0;
$grey-16: rgba(126, 187, 220, 0.26);
$grey-17: #545454;
$border-color4: #dee4ef;
$blue-4: #e0f3fb;
$blue-5: #479dc1;
$blue-6: #d1e5ee;
$blue-7: #85ceec;
$orange-1: #ffeadf;
$orange-2: #ff651b;
$orange-3: #fb8834;
$orange-4: #f54f3f;
$orange-5: #f57130;
$grey-12: #10284f;
$grey-13: #505a6d;
$grey-14: #949cb4;
$grey-15: #a4aec0;
$grey-16: rgba(126, 187, 220, 0.26);
$grey-17: #545454;
$border-color4: #dee4ef;
$blue-dark: #10284f;
$blue-dark-11: #10284f;
$gray-11: #dee4ef;
$blue-light-1: #479dc1;
$blue-light-2: #e0f3fb;
$pink: #ffeadf;
$orange: #ff651b;
$gray-12: #616980;
$gray-13: #949cb4;
$orange-dark-1: #f54f3f;
$gray-14: #d1e5ee;
$primary-color: #10284f;
$blue-light: #c3e4f3;
$blue-dark: #505e74;
$orange: #fc6a22;
$bg-dotted: #d1e5ee;
$blue-cl: #505a6d;
$pinkish-orange: #ff7430;
$red-bg-cl: #f54f3f;
$blue-dark-cl: #10284f;
$box-shadow: rgba(206, 201, 201, 0.8);
$banner-content-head: #697fa2;
$banner-content-bottom: #153262;
$border-grey: #d0e1e7;
$grey-dark-2: #847d7d;
$boder-radius-form: 10px;
$pinkish-orange: #ff7430;
$red-bg-cl: #f54f3f;
$blue-dark-1: #f2f7fb;
$blue-dark-2: #8997ae;
$green-dark: #29a572;
$gray-16-m: #f3f4f6;
$gray-17-other: #e1eaf1;
$blue-light-3: #768896;
$gray-18-other: #545c72;
$gray-15: #545454;
$blue-draw: #19254b;
$color-oblue: #6f7ca5;
$border-footer: #2b3657;
$gray-15: #545454;
$green-2: #7dc537;
$gray-16: #404656;
$grey-16: #aaafc4;
$grey-17: #616980;
$grey-18: #505a6d;
$grey-19: #545c72;
$grey-20-1: #28345e;
$grey-21: #222f5a;
$grey-opacity: rgba(16, 40, 79, 0.5);
$grey-20: #cce4f0;
$grey-22: #d8e0ec;
$orange-az: #f68b31;
$grey-21: #a4bfd3;
$grey-23: #303030;
$grey-btn-mb: rgba(16, 40, 79, 0.1);
$overlay-2: rgba(0, 0, 0, 0.3);
$orange-az2: #f78b31;
$color-border: #b3bfd3;
$color-border-2: #e0e6ef;
$color-border-3: #a4bfd3;
$color-border-4: #aeb5ba;
$border-home: #626f86;
$home-title-color: #23305d;
$dark-indigo:#10284f;
$grey-24:#7d8ca4;
$grey-25:#889DC0;
$dark-indigo: #10284f;
