extend includes/layout/layout.pug
block pages
    include includes/components/box-menu-order.pug
    .box-menu-order-section
        .container
            .menu__order-wrap.d-flex.align-items-center
                +menuOrder("1","Điền thông tin")
                +menuOrder("2","Xác nhận thông tin")(class ="active")
                +menuOrder("3","Hoàn tất")
    .booking__confirm-section
        .container
            include includes/pages/confirm.pug

