extend includes/layout/layout-mobile.pug
block pages
    .proviso-page-mb-section
        .container
            h1.title Điều khoản dịch vụ
            .tab-content
                .tab
                    a(href="" data-id='service-mb').proviso-tab.active Điều khoản dịch vụ
                    a(href="" data-id='security-mb').proviso-tab Chính sách bảo mật
                .proviso-tab-content#service-mb
                    p Travel Technology Limited (“Klook”, “chúng tôi”, “của chúng tôi”) cam kết bảo vệ và tôn trọng quyền riêng tư dữ liệu cá nhân của bạn và tuân thủ các nguyên tắc và quy định bảo vệ dữ liệu theo pháp luật hiện hành. Chúng tôi có thể thu thập, xử lý, sử dụng và tiết lộ thông tin của bạn khi bạn sử dụng trang web www.klook.com và/hoặc Ứng dụng Klook (gọi chung là “Nền tảng Klook”) và Dịch vụ được cung cấp bởi Klook hoặc các Nhà điều hành (“Nhà điều hành”) thông qua Nền tảng Klook này (gọi chung là “Dịch vụ”) như được mô tả trong Chính sách bảo mật này. “Bạn” và “của bạn” được sử dụng trong Chính sách bảo mật này bao gồm bất kỳ người nào truy cập Nền tảng Klook hoặc sử dụng Dịch vụ.
                    p Chính sách bảo mật này đặt ra nền tảng cơ bản và các điều khoản mà dựa trên đó Klook thu thập, xử lý, sử dụng và/hoặc tiết lộ thông tin của bạn thu được từ bạn khi bạn truy cập Nền tảng Klook và/hoặc sử dụng Dịch vụ. Thông tin này có thể bao gồm thông tin cá nhân liên quan đến hoặc liên kết với một cá nhân cụ thể như tên, địa chỉ cư trú, số điện thoại, địa chỉ email, thông tin chứng từ du lịch, thông tin thuê phương tiện, thông tin bảo hiểm, độ tuổi, ngày sinh hoặc bất kỳ thông tin nào khác mà chúng tôi đã yêu cầu và bạn đã cung cấp thông qua Nền tảng Klook (gọi tắt là “Thông tin cá nhân”).
                    p Vui lòng đọc kỹ Chính sách bảo mật này. Bằng cách truy cập Nền tảng Klook, bạn đồng ý với việc thu thập, xử lý, sử dụng và tiết lộ Thông tin cá nhân của bạn như được quy định trong Chính sách bảo mật này.
                    p.bold Phạm vi điều khoản
                    p Klook bảo lưu quyền cập nhật, sửa đổi hoặc điều chỉnh các điều khoản của Chính sách bảo mật này hoặc bất kỳ phần nào của nó mà không cần thông báo trước và việc bạn tiếp tục truy cập Nền tảng Klook hoặc sử dụng Dịch vụ có nghĩa là bạn chấp nhận Chính sách bảo mật đã được cập nhật, sửa đổi hoặc điều chỉnh trừ trường hợp các thay đổi như vậy làm giảm quyền lợi của bạn, chúng tôi sẽ yêu cầu sự đồng ý của bạn. Nếu bạn không đồng ý với tất cả các điều khoản và điều kiện trong Chính sách bảo mật này và/hoặc bất kỳ bản cập nhật, sửa đổi hoặc điều chỉnh nào, bạn phải ngừng truy cập hoặc sử dụng Nền tảng Klook và Dịch vụ. Theo đó, vui lòng truy cập trang này nếu bạn muốn truy cập và xem phiên bản hiện tại của Chính sách bảo mật.
                .proviso-tab-content#security-mb
                    p Vui lòng đọc kỹ Chính sách bảo mật này. Bằng cách truy cập Nền tảng Klook, bạn đồng ý với việc thu thập, xử lý, sử dụng và tiết lộ Thông tin cá nhân của bạn như được quy định trong Chính sách bảo mật này.
                    p.bold Phạm vi điều khoản
                    p Klook bảo lưu quyền cập nhật, sửa đổi hoặc điều chỉnh các điều khoản của Chính sách bảo mật này hoặc bất kỳ phần nào của nó mà không cần thông báo trước và việc bạn tiếp tục truy cập Nền tảng Klook hoặc sử dụng Dịch vụ có nghĩa là bạn chấp nhận Chính sách bảo mật đã được cập nhật, sửa đổi hoặc điều chỉnh trừ trường hợp các thay đổi như vậy làm giảm quyền lợi của bạn, chúng tôi sẽ yêu cầu sự đồng ý của bạn. Nếu bạn không đồng ý với tất cả các điều khoản và điều kiện trong Chính sách bảo mật này và/hoặc bất kỳ bản cập nhật, sửa đổi hoặc điều chỉnh nào, bạn phải ngừng truy cập hoặc sử dụng Nền tảng Klook và Dịch vụ. Theo đó, vui lòng truy cập trang này nếu bạn muốn truy cập và xem phiên bản hiện tại của Chính sách bảo mật.

                