extend includes/layout/layout.pug
block pages
    .home-page-section
        div(class="bannner-section banner-cano banner-boat" style="background-image: url('./assets/images/image-update/home-page.png');")
            .container
                .row
                    .col-lg-12
                        include includes/components/banner.pug
                        +banner("Bạn sẽ đi đâu","5",true,true)
        include includes/components/box-discover-more.pug
        +box-discover-more(true)
        include includes/components/box-sale-list.pug
        +box-sale-list
        include includes/components/box-where-go.pug
        +box-where-go
        include includes/components/client-service.pug
        +client-service
        include includes/components/happy-client.pug
        include includes/components/box-partner.pug
