extend includes/layout/layout-mobile.pug
block pages
    .home-page-section
        .banner-mobile.banner-boat.banner-cano
            .container
                .row
                    .col-12
                        include includes/components/banner.pug
                        +banner("Bạn sẽ đi đâu ?","5",false,false,"mobile")
        include includes/components/box-discover-more.pug
        + box-discover-more(false)
        include includes/components/box-sale-list.pug
        +box-sale-list(true)
        include includes/components/box-where-go.pug
        +box-where-go(true)
        include includes/components/client-service.pug
        +client-service(true)
        include includes/components/happy-client-mb.pug
        include includes/components/box-partner-mb.pug
