-
    const data = [
        {
            title: "Home page",
            link: "index-mobile.html"
        },
        {
            title: "Tàu riêng theo tuyến",
            link: "tau-rieng-theo-tuyen-mobile.html"
        },
        {
            title: "Tàu ghép theo tuyến",
            link: "tau-ghep-theo-tuyen-mobile.html"
        },
        {
            title: "Tàu riêng chưa chọn tuyến",
            link: "tau-rieng-chua-chon-tuyen-mobile.html"
        },
        {
            title: "Tàu thăm vịnh tuyến 4h",
            link: "tau-tham-vinh-tuyen-4h-mobile.html"
        },
        {
            title: "Du thuyền",
            link: "du-thuyen-mobile.html"
        },
        {
            title: "Chi tiết tàu ghép",
            link: "chi-tiet-tau-ghep-mobile.html"
        },
        {
            title: "Chi tiết tàu riêng",
            link: "chi-tiet-tau-rieng-mobile.html"
        },
        {
            title: "Book_1",
            link: "booking-train-mobile.html"
        },
        {
            title: "Book 2_ Confirm",
            link: "booking-train-confirm-mobile.html"
        },
        {
            title: "Cano",
            link: "cano-mobile.html"
        },
        {
            title: "Trực thăng",
            link: "truc-thang-mobile.html"
        },
        {
            title: "Thủy phi cơ",
            link: "thuy-phi-co-mobile.html"
        },
        {
            title: "Tin tuc",
            link: "tintuc.html"
        },
        {
            title: "Tin tuc mobile",
            link: "tintuc-mb.html"
        },
        {
            title: "Chi tiết tin tuc",
            link: "chi-tiet-tin-tuc-desktop.html"
        },
        {
            title: "Chi tiết tin tuc",
            link: "chi-tiet-tin-tuc-mobile.html"
        },
        {
            title: "Điều khoản desktop",
            link: "dieu-khoan-desktop.html"
        },
        {
            title: "Điều khoản mobile",
            link: "dieu-khoan-mobile.html"
        },
        {
            title: "Chi tiết du thuyền",
            link: "yacht-details-mobile.html"
        },
    ]

ul
    each item in data
        li
            a(href=`${item.link}`)=item.title