extend includes/layout/layout-mobile.pug
block pages
    .seaplane-section-mb
        .seaplane-banner-section
            .container
                .row
                    .col-md-12
                        include includes/components/banner-mb.pug
                        +banner-mb("Thủy phi cơ",3)
        include includes/pages/seaplane-mb.pug
        +box-seaplane-mb("Trực thăng tham vịnh","./assets/images/box-helicopter/layer-3.png")
        include includes/components/box-discover-more.pug
        + box-discover-more(false)
        include includes/components/happy-client-mb.pug