extend includes/layout/layout.pug
block pages
    .main__helicopter-section
        div(class="bannner-section banner-cano banner-boat" style="background-image: url('./assets/images/image-update/tructhang_cover.jpg');")
            .container
                .row
                    .col-lg-12
                        include includes/components/banner.pug
                        +banner("Trực thăng","5",false,true)
        include includes/components/breadcrumb.pug
        +bread-crumb("Trực thăng")
        include ./includes/pages/helicopter-24.pug
        +box-helicopter("Trực thăng tham vịnh","./assets/images/box-helicopter/layer-3.png")
        include ./includes/components/box-discover.pug
        +box-discover("Tour thăm vịnh di sản 4 giờ","Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse  gravida. ","./assets/images/box-kham-pha/vinh-di-san.png")
        include ./includes/components/happy-client.pug
        include ./includes/components/box-partner.pug