.partner-slider-section-mb
    .container
        .owl-carousel
            .partner-slider__item
                a(href="#")
                    img(src="./assets/images/box-partner/viet.png" alt="").mb-5.mt-3.pb-4.pt-5
                a(href="#")
                    img(src="./assets/images/box-partner/traveloka/layer-1.png" alt="").mb-1
            .partner-slider__item
                a(href="#")
                    img(src="./assets/images/box-partner/airlines/layer-1.png" alt="").mt-5.pb-5.pt-4
                a(href="#")
                    img(src="./assets/images/box-partner/tripadvisor/layer-1.png" alt="")
            .partner-slider__item
                a(href="#")
                    img(src="./assets/images/box-partner/hotel/layer-1.png" alt="").mb-5
                a(href="#")
                    img(src="./assets/images/box-partner/airbnb/layer-1.png" alt="").mb-1