mixin box__cano__mobile(show=0)
    .box__cano
        .box__cano-wrapper.d-flex.justify-content-center
            .cano__wrapper-img
                a(href="#")
                    img(src="./assets/images/box-cano/box-cano.png", alt="")
                a(href="#").cano__wrapper-img-button + Xem ảnh cano
            .cano__wrapper-infor
                .wrapper__infor-title
                    a(href="")
                        h3 Cano VietYacht
                .btn-hover-wrapper
                    span.btn-hover Có đồ ăn
                    span.pd-l-r.btn-hover Có xe đưa đón
                    span.orange.btn-hover Có ưu đãi
                .wrapper__infor-detail
                    p Khởi hành từ cảng Tuần Châu
                        span
                    p Tàu ghép
                        span
                    p Có đồ ăn
                        span
                    p Đã bao gồm vé thắng cảnh + vé tàu
                        span
            .cano__wrapper-book.d-flex.flex-column
                form(action="./booking-train-desktop.html")
                    if show==2 || show ==3
                        if show ==2
                            .wrapper__book-other
                                .book__other-cost
                                    p.new-cost.text-right đ 399,000
                                    p.old-cost.text-right đ 599,000
                                span.sale-off sale-off 30%
                            .wrapper__book-btn
                                button.book__btn-btn Đặt vé
                        if show ==3
                            .wrapper__book-other
                                p.new-cost.text-right đ 399,000
                                span.sale-off sale-off 30%
                            .wrapper__book-btn
                                button.book__btn-btn Đặt vé