.box-discover-section
    .container
        .row.align-items-center
            .col-lg-4.col-md-12
                .box-discover-section__left
                    h2.box-discover-section__left-heading Tour thăm vịnh di sản 4 giờ
                    p.box-discover__left-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse  gravida. 
            .col-lg-8.col-md-12
                .box-discover-section__right.owl-carousel.owl-theme
                    img(src="./assets/images/box-kham-pha/vinh-di-san.png").img-fluid.box-discover-section__right-img.item
                    img(src="./assets/images/box-kham-pha/vinh-di-san.png").img-fluid.box-discover-section__right-img.item
                    img(src="./assets/images/box-kham-pha/vinh-di-san.png").img-fluid.box-discover-section__right-img.item
