mixin YachtItems(img,price)
    .yacht__items
        .yacht__items-img
            img(src=img, alt="")
            .endow: p Ưu đãi -40%
        .yacht__items-text
            a(href="")
                h3.title Serenity Cruise
            ul
                li
                    span.dots
                    p Cảng khởi hành: Tuần Châu
                li
                    span.dots
                    p Thời gian khởi hành: 08h15
                li
                    span.dots
                    p Các dịch vụ theo tàu
                li
                    span.dots
                    p HDV suốt hành trình
                li
                    span.dots
                    p Ăn trên tàu
            .price
                h3 đ 399,000
                span=price
            a.btn.btn-booking(href="./booking-train-desktop.html") Đặt tàu