.partner-slider-section
    .container
        .owl-carousel
            .partner-slider__item
                a(href="#")
                    img(src="./assets/images/box-partner/traveloka/layer-1.png" alt="")
            .partner-slider__item
                a(href="#")
                    img(src="./assets/images/box-partner/tripadvisor/layer-1.png" alt="").mb-4
            .partner-slider__item
                a(href="#")
                    img(src="./assets/images/box-partner/airbnb/layer-1.png" alt="")
            .partner-slider__item
                a(href="#")
                    img(src="./assets/images/box-partner/airlines/layer-1.png" alt="")
            .partner-slider__item
                a(href="#")
                    img(src="./assets/images/box-partner/hotel/layer-1.png" alt="").mb-5
            .partner-slider__item
                a(href="#")
                    img(src="./assets/images/box-partner/viet.png" alt="").mt-3
