mixin box-yacht-horizontal(sale,id)
    .box-yacht-horizontal
        .box-yacht-horizontal__group.d-flex.align-items-center
            .box-yacht-horizontal__img.openPopup(data-popup=`#popup-${id}`)
                .box-yacht-horizontal__img
                    img(src="assets/images/box-aycht-horizontal1.png", alt="")
                .photos
                    i.fas.fa-plus
                    |Xem ảnh tàu
            .box-yacht-horizontal__info
                .horizontal__info-items
                    a(href="")
                        h3 Tàu 18 chỗ thường
                    .btn-hover-wrapper
                        span.blue.btn-hover Có đồ ăn
                        span.blue.hasborder.btn-hover Có xe đưa đón
                        span.orange.btn-hover Có ưu đãi
                    ul
                        li Cảng khởi hành: Tuần Châu
                        li Thời gian khởi hành: 08h15
                        li Vé thắng cảnh
                        li Chèo thuyền Kayak 40.000 đ/người
                        li Đưa đón/tiễn Tại khách sạn ở Bãi Cháy
            .box-yacht-horizontal__info-reserve
                .price
                    span.price-new đ 399,000
                    span.price-old đ 599,000
                    a(href="./booking-train-desktop.html").btn-reserve  Đặt tàu
        if sale=='true'
            .box-yacht-horizontal__sale.sale
                span sale off -39%
        else
            .box-yacht-horizontal__sale
