mixin bread-crumb(page)
	.bread-crumb-section
		.container
			.bread-crumb__list
				a(href="#" class="bread-crumb__links")
					span Trang chủ - 
				a(href="#" class="bread-crumb__links")
					span= page