.description-mb-section
    .container
        .row
            .col-sm-12
                .description-mb__img
                    img(src="./assets/images/description/orange.png", alt="").description-mb__img-content
                .description-mb__heading
                    p.description-mb__heading-content.mb-0 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incid idunt ut labore et dolore
                    button.btn.btn-black-az Xem thêm
