mixin description(img="red",btn=0)
    .description-section
        .container
            .row.align-items-end
                .col-xl-9
                    .description__left
                        p.left-top Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                        p.left-bot Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                        if btn=="btn"
                            button.btn-description Xem thêm
                .col-xl-3
                    .description__right
                        if img == "red"
                            img(src="./assets/images/description/red.png", alt="")
                        if img == "orange"
                            img(src="./assets/images/description/orange.png", alt="")
