.happy__client__wrapper
  .container
    .row.align-items-center
      .col-lg-4.col-12
        .happy__client__item.happy__client__item-left
          h2 Happy Client
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
      .col-lg-8.col-12
        .happy__client__item.d-flex.align-items-center
          .item__device
            img(src="./assets/images/happy-client-slider/happy-client-device.png" alt="").device-image
            .owl-carousel.owl-theme.device-carousel
              each item in [1,2,3,4,5,6]
                .item
                  .device-slide.d-flex.align-items-center.justify-content-center
                    .number= item
                    img(src="./assets/images/happy-client-slider/happy-client-slider-image.png" alt="")

          .item__client__card
            .owl-carousel.owl-theme.client-card-carousel
              each item in [2,3,4,5,6,1]
                .item
                  .card-slide.d-flex.align-items-center.justify-content-center
                    .number= item
                    img(src="./assets/images/happy-client-slider/happy-client-slider-image.png" alt="")

            .client-carousel-control.d-flex.align-items-center.justify-content-end
              .nav-control
              .pagination-control.d-flex.align-items-center
              .carousel-info
                span#client-carousel-current-slide 1
                span /
                span#client-carousel-total 5
