.menu-mbv2
    ul
        li.d-flex.align-items-center.justify-content-between
            a(href="") TRANG CHỦ
        li.d-flex.align-items-center.justify-content-between
            a(href="") VỀ CHÚNG TÔI
        li.d-flex.align-items-center.justify-content-between.--havesub(data-idsub="#sub-3")
            a(href="") TÀU THĂM VỊNH
            img(src="./assets/images/arrowr.svg", alt="")
        li.d-flex.align-items-center.justify-content-between
            a(href="") DU THUYỀN
        li.d-flex.align-items-center.justify-content-between
            a(href="") CANO
        li.d-flex.align-items-center.justify-content-between
            a(href="") THUỶ PHI CƠ
        li.d-flex.align-items-center.justify-content-between
            a(href="") TRỰC THĂNG
    .submenu-item#sub-3
        .back
            img(src="./assets/images/arrowll.svg", alt="")
        ul
            li
                a(href="") sub3
            li
                a(href="") sub1
            li
                a(href="") sub1
            li
                a(href="") sub1
            li
                a(href="") sub1
            li
                a(href="") sub1