mixin newfeed-relation(desktop = false)
    .newfeed-relation
        if desktop 
            .newfeed-relation__line
        h1.newfeed-relation__heading Bài viết liên quan
        if desktop
            .container
                .row
                    - for(var i = 0; i < 3; i++)
                        .newfeed-relation__box.col-lg-4.col-md-4
                            img(src="./assets/images/newfeed-detail/button.png" alt="img-box")
                            span.newfeed-relation__box-date 11 tháng 3, 2021
                            h2.newfeed-relation__box-title Gợi ý 10 điểm đến hấp dẫn khi du lịch Hạ Long
                            p.newfeed-relation__box-des Uber cool with a stunning view of downtown Saigon, Chill Skybar is one of the most popular nightspots in the city. 
                            a(href="#" class="newfeed-relation__box-next") Xem tiếp
            .newfeed-relation__pagination
                ul.newfeed-relation__pagination-list.d-flex.justify-content-center
                    li
                        a(href="#" class="active") 1 
                    li
                        a(href="#") 2
                    li 
                        a(href="#") ... 
                    li 
                        a(href="#") 9
                    li  
                        a(href="#") 10
        else
            - for(var i = 0; i < 3; i++)
                .newfeed-relation__box
                    img(src="./assets/images/newfeed-detail/button.png" alt="img-box")
                    span.newfeed-relation__box-date 11 tháng 3, 2021
                    h2.newfeed-relation__box-title Gợi ý 10 điểm đến hấp dẫn khi du lịch Hạ Long
                    p.newfeed-relation__box-des Uber cool with a stunning view of downtown Saigon, Chill Skybar is one of the most popular nightspots in the city. 
                    a(href="#" class="newfeed-relation__box-next") Xem tiếp