mixin select-route(title)
    .select-route
        .img
            img(src="assets/images/box-yacht/product-thumb2.png", alt="")
        h3.title=title
        a.btn-route(href="") Xem danh sách tàu