.service-section
    .container
        .service__main
            .service__main-title
                h2 Lựa chọn loại dịch vụ
            .service__main-content
                .row
                    .col-lg-6
                        .box__service-content
                            .content__img
                                img(src="./assets/images/service/thuyen1.png" alt="")
                            .content__detail.d-flex.align-items-center.justify-content-between
                                h3.content__detail-left Tàu riêng
                                .content__detail-right 
                                    a(href="./tau-rieng-tham-vinh.html").d-flex.align-items-center
                                        h4 Xem danh sách tàu
                                        .right__icon

                    .col-lg-6
                        .box__service-content
                            .content__img
                                img(src="./assets/images/service/thuyen2.png" alt="")
                            .content__detail.d-flex.align-items-center.justify-content-between
                                h3.content__detail-left Tàu ghép
                                .content__detail-right
                                    a(href="./tau-ghep-theo-tuyen-desktop.html").d-flex.align-items-center
                                        h4 Xem danh sách tàu
                                        .right__icon
