.why-choose-section
    .container
        h2.why-choose__title Tại sao chọn AZCruise
        .row
            .col-lg-3.col-md-6
                .why-choose__item
                    .why-choose__item-icon
                        i.fas.fa-check
                    .why-choose__item-desc
                        h4 NHANH CHÓNG
                        p Chỉ 3 bước đặt tàu nhanh chóng, quý khách sẽ không phải chờ đợi tàu tại cảng
            .col-lg-3.col-md-6
                .why-choose__item
                    .why-choose__item-icon
                        i.fas.fa-check
                    .why-choose__item-desc
                        h4 TÀU LUÔN SẴN SÀNG
                        p Khi đã đặt trước tàu qua AZway quý khách không phải lo lắng hết tàu nếu đi vào dịp cao điểm.
            .col-lg-3.col-md-6
                .why-choose__item
                    .why-choose__item-icon
                        i.fas.fa-check
                    .why-choose__item-desc
                        h4 CHẤT LƯỢNG
                        p AZway là đại lý bán vé chính thức của hơn 200 tàu chất lượng, dịch vụ tốt  trên Vịnh Hạ Long.
            .col-lg-3.col-md-6
                .why-choose__item
                    .why-choose__item-icon
                        i.fas.fa-check
                    .why-choose__item-desc
                        h4 GIÁ NIÊM YẾT
                        p Tất cả các dịch vụ tại AZway đều được công bố rõ ràng, có xác nhận dịch vụ và số tiền thanh toán gửi trước ngày đi.

