.booking__train-confirm-wrapper
	form(action="./booking-train-success-desktop.html")
		.row
			.col-xl-8.m-auto
				.confirm__inner
					h2.confirm__title Xác nhận thông tin
					.confirm__content
						.row.confirm__content-row
							.col-lg-4.col-12
								.confirm__detail
									h3.confirm__label Họ và tên
									span.confirm__desc Nguyễn Mạnh Quân
							.col-lg-4.col-12
								.confirm__detail
									h3.confirm__label Email
									span.confirm__desc quan.azcruise@gmail.com
							.col-lg-4.col-12
								.confirm__detail
									h3.confirm__label Số điện thoại
									span.confirm__desc (+84) | 0944752486
						.confirm__note
							h3.confirm__label Lưu ý thêm:
							.confirm__desc
								span Nguyễn Mạnh Quân
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.officia deserunt mollit
							.span.confirm__txt Quý khách sẽ nhận được thông tin xác nhận vào email đã đăng kí
						h2.confirm__title.pb-3 Thông tin đặt vé
						div.confirm__info
							h3.confirm__info-title.d-block.text-right Tàu 18 chỗ thường
							.confirm__info-rows.d-flex
								div.confirm__info-label.flex-grow-1
									img(src="./assets/images/confirm/flag.png" alt= "flag")
									span Loại hình:
								div.confirm__info-value
									span Tàu ghép
							.confirm__info-rows.d-flex
								div.confirm__info-label.flex-grow-1
									img(src="./assets/images/confirm/flag.png" alt= "flag")
									span Tuyến:
								div.confirm__info-value
									span Tuyến 4h
							.confirm__info-rows.d-flex
								div.confirm__info-label.flex-grow-1
									img(src="./assets/images/confirm/cal.png" alt= "calendar")
									span Ngày khởi hành:
								div.confirm__info-value
									span 10/03/2021
							.confirm__info-rows.d-flex
								div.confirm__info-label.flex-grow-1
									img(src="./assets/images/confirm/member.png" alt= "member").mr-1
									span.align-middle Số người:
								div.confirm__info-value
									span 2 người lớn
						h2.confirm__title.pb-3 Các dịch vụ cho tàu ghép
						div.confirm__info
							.confirm__info-rows.d-flex
								div.confirm__info-label.flex-grow-1
									img(src="./assets/images/confirm/check.png" alt= "check")
									span Chèo Kayak
								div.confirm__info-value
									span 40.000 đ
							.confirm__info-rows.d-flex
								div.confirm__info-label.flex-grow-1
									img(src="./assets/images/confirm/check.png" alt= "check")
									span Đưa đón tại nhà/ Tại khách sạn
								div.confirm__info-value
									span 0 đ
							.confirm__info-rows.d-flex
								div.confirm__info-label.flex-grow-1
									img(src="./assets/images/confirm/check.png" alt= "check")
									span Hướng dẫn viên
								div.confirm__info-value
									span 150.000 đ
							.confirm__info-rows.d-flex
								div.confirm__info-label.flex-grow-1
									img(src="./assets/images/confirm/check.png" alt= "check")
									span Vé tham quan thắng cảnh
								div.confirm__info-value
									span 150.000 đ ~ 500.000 đ
							.confirm__info-rows.d-flex
								div.confirm__info-label.flex-grow-1
									img(src="./assets/images/confirm/check.png" alt= "check")
									span Ăn trưa/ Chiều
								div.confirm__info-value
									span 145.000 đ
							.confirm__info-rows.d-flex
								div.confirm__info-label.flex-grow-1
									img(src="./assets/images/confirm/check.png" alt= "check")
									span Vé tàu
						h2.confirm__title.pb-3 Chi phí ước tính:
						div.confirm__info
							.confirm__info-rows.d-flex
								div.confirm__info-label.flex-grow-1
									span Tổng cộng:
								div.confirm__info-value
									span 1,420,000 đ
							.confirm__info-rows.d-flex
								div.confirm__info-label.flex-grow-1
									span Khuyến mãi:
								div.confirm__info-value
									span -200,000 đ
							.confirm__info-rows.d-flex
								div.confirm__info-label.flex-grow-1
									span Phí dịch vụ
								div.confirm__info-value.text-right
									span 40,000 đ
									span 150,000 đ
									span 150.000 đ ~ 500.000 đ
						.confirm__total.d-flex
							.confirm__total-label.flex-grow-1
								span Ước tính
							.confirm__total-value
								span 1,220,000 đ  ~ 1.500.000 đ
				.confirm__bottom.d-flex.justify-content-between
					.confirm__bottom-txt
						p Chi phí trên đây là tạm ước tính, AZCruise sẽ liên hệ lại với Quý khách để tư vấn chính xác
					.confirm__bottom-btn.d-flex.align-items-center
						button.btn.btn__back Quay lại
						button(type="submit").btn.btn__comp Hoàn tất
