.booking__train-section
    form(action="./booking-train-confirm-desktop.html")
        .container
            .booking__train-title
                h1 Thông tin khách hàng:
            .row
                .col-lg-8
                    .booking__train-wrapper
                        .train__wrapper-fill
                            .wrapper__fill-title.d-flex
                                img(src="./assets/images/layer-3.jpg" alt="")
                                h3 Điền thông tin cá nhân
                            .wrapper__fill-form
                                form(action="")
                                    .fill__form-infor.d-flex.flex-wrap
                                        .form__infor-name
                                            h4 Họ và tên*
                                            input(type="text" placeholder="Nguyễn Mạnh Quân")
                                        .form__infor-email
                                            h4 Email*
                                            input(type="gmail" placeholder="quan.azcruise@gmail.com")
                                        .form__infor-phone
                                            h4 Số điện thoại*
                                            input(type="text" placeholder="(+84) | 0944752486")
                                    .fill__form-note
                                        h4 Lưu ý thêm:
                                        textarea(name="text" cols="30" rows="10")
                                    .fill__form-p
                                        p * là các trường thông tin bắt buộc
                                        p Quý khách sẽ nhận được thông tin xác nhận vào email đã đăng kí
                                        p.d-flex.flex-row-reverse Mọi thông tin của Quý khách đều được bảo mật theo Điều khoản & Chính sách bảo mật
                                            img(src="./assets/images/layer-4.jpg" alt="")
                                    .fill__form-text
                                        h4 Xem thêm những ưu đãi mới nhất và hấp dẫn nhất tại AZCruise
                                        .fill__form-checkbox.custom-checkbox.d-flex.align-items-center
                                            input(type="checkbox" id="fill-form-checkbox").custom-control-input
                                            label(for="fill-form-checkbox").custom-control-label.check__label Tôi muốn nhận các thông tin về chương trình ưu đãi và khuyến mãi đặc biệt từ AZCruise. Tôi hiểu rằng tôi có thể bỏ theo dõi khi không muốn nhận thông tin vào bất kỳ lúc nào.
                        .train__wrapper-service
                            .wrapper__service-title.d-flex.justify-content-between.align-items-center
                                .service__title-start.d-flex.align-items-center
                                    a(href="" class="d-flex")
                                        div
                                        div.mg-2px
                                        div
                                    h4 Các dịch vụ cho tàu ghép
                                img(src="./assets/images/layer-5.jpg" alt="" class="slideToggle")
                            .wrapper__service-price
                                .service__price-checkbox.d-flex.align-items-center.justify-content-between.w-100
                                    .service__checkbox.custom-checkbox.d-flex.align-items-center.form-check
                                        input(type="checkbox" id="service-checkbox-1").custom-control-input
                                        label(for="service-checkbox-1").custom-control-label.check__label Chèo kaya
                                    p 40000 đ
                                .service__price-checkbox.d-flex.align-items-center.justify-content-between
                                    .service__checkbox.custom-checkbox.d-flex.align-items-center.form-check
                                        input(type="checkbox" id="service-checkbox-2").custom-control-input
                                        label(for="service-checkbox-2").custom-control-label.check__label Đưa đón tại nhà/Tại khách sạn
                                    p 40000 đ
                                .service__price-checkbox.d-flex.align-items-center.justify-content-between
                                    .service__checkbox.d-flex.align-items-center
                                        .service__checkbox.custom-checkbox.d-flex.align-items-center.form-check
                                            input(type="checkbox" id="service-checkbox-3").custom-control-input
                                            label(for="service-checkbox-3").custom-control-label.check__label Hướng dẫn nhân viên
                                    p 150.000 đ - 40000 đ
                                .service__price-checkbox.d-flex.align-items-center.justify-content-between
                                    .service__checkbox.custom-checkbox.d-flex.align-items-center.form-check
                                        input(type="checkbox" id="service-checkbox-4").custom-control-input
                                        label(for="service-checkbox-4").custom-control-label.check__label Đưa đón tại nhà/Tại khách sạn
                                    p 40000 đ
                        .train__wrapper-refund
                            .wrapper__refund-title.d-flex.justify-content-between.align-items-center
                                .refund__w.d-flex.align-items-center
                                    img(src="./assets/images/layer-6.jpg" alt="")
                                    h4 Điều kiện hoàn trả miễn phí
                                img(src="./assets/images/layer-5.jpg" alt="" class="toggleslide")
                            .wrapper__refund-detail
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                .col-lg-4
                    .booking__train-infor
                        .train__infor-details
                            .infor__details-title
                                h4 Thông tin đặt vé
                            .infor__details-description
                                p.text-right Tàu 18 chỗ thường
                                p.text-color.d-flex.flex-row-reverse.justify-content-between Tàu ghép
                                    span.d-flex.flex-row-reverse Loại hình:
                                        img(src="./assets/images/layer-7.jpg" alt="")
                                p.text-color.d-flex.flex-row-reverse.justify-content-between Tuyến 4h
                                    span.d-flex.flex-row-reverse Tuyến:
                                        img(src="./assets/images/layer-7.jpg" alt="")
                                p.text-color.d-flex.flex-row-reverse.justify-content-between 10/03/2021
                                    span.d-flex.flex-row-reverse Ngày khởi hành:
                                        img(src="./assets/images/layer-8.jpg" alt="")
                                p.text-color.d-flex.flex-row.justify-content-between.border-b.align-items-center
                                    span.d-flex.flex-row-reverse.align-items-center Số người:
                                        img(src="./assets/images/001-user.png" alt="")
                                    select(name="").d-flex.flex-row.align-items-center
                                        option 2 người lớn
                                        option 3 người lớn
                                        img(src="./assets/images/layer-9.jpg" alt="")
                        .train__infor-sale
                            .infor__sale-title
                                h4 Ưu đãi
                                p Nhập mã ưu đãi của bạn để nhận giảm giá
                            .infor__sale-km.d-flex.justify-content-between
                                input(type="text" placeholder="Nhập mã Khuyến mãi")
                                button
                                    a(href="") Sử dụng
                            .infor__sale-totle
                                p.d-flex.justify-content-between Tổng cộng:
                                    span 1,420,000 đ
                                p.d-flex.justify-content-between Khuyến mãi:
                                    span -30% -200,000 đ
                                p.d-flex.justify-content-between Khuyến mãi:
                                    span -30% -200,000 đ
                                div.d-flex.justify-content-between Phí dịch vụ
                                    .wrapp.d-flex.flex-column.justify-content-end.text-right
                                        span.text-bold 40.000 đ
                                        span.text-bold 150.000 đ
                                        span.text-bold 150.000 đ ~ 500.000 đ
                                p.d-flex.justify-content-between Ước tính
                                    span.summary 1,220,000 đ  ~ 1.500.000 đ
                    .booking__train-sig
                        p.text-center Chi phí trên đây là tạm ước tính, AZCruise sẽ liên hệ lại với Quý khách để tư vấn chính xác
            .row
                .col-lg-8
                    .train__wrapper-btn
                        .wrapper__btn-btn.d-flex.justify-content-end
                            button.btn__btn-button.color-gray Quay lại
                            button.btn__btn-button.other-color(type="submit") Xác nhận thông tin