-
    const content = [
        {
            title:"",
            text:"Khám phá Vịnh Hạ Long, bao gồm Đảo Tuần Châu, Động Thiên Cung, và Hòn Gà Chọi từ trên trực thăng Bắt lấy ngay cơ hội độc đáo này để ngắm vẻ đẹp tuyệt vời của Vịnh Hạ Long từ trên cao Bay vòng quanh những vách đá vôi của một trong những cảnh quan độc đáo nhất trên thế giới",
        },
        {
            title:"Khung Giờ Tour:",
            text:"Giờ hoạt động: 7:00 sáng - 5:00 chiều, hàng ngày (chuyến cuối lúc 4:30 chiều)",
        },
        {
            title:"Lịch trình:",
            text:"Lưu ý: Lịch trình chỉ để tham khảo và có thể thay đổi tùy vào điều kiện không lưu và thời tiết trong ngày",
        },
        {
            title:"Tour Trực Thăng Hạ Long (12 Phút):",
            text:"Đảo Tuần Châu - Động Thiên Cung - Hòn Gà Chọn - Đảo Titop - Vịnh Bái Tử Long",
        },
        {
            title:"Tour Trực Thăng Hạ Long (25 Phút):",
            text:"Đảo Tuần Châu - Động Thiên Cung - Hang Đầu Gỗ - Đảo Titop - Động Sửng Sốt - Hang Hồ Động Tiên - Hang Trong - Làng Chài Cửa Vạn - Làng Chài Vung Viêng - Đảo Cống Đỏ - Khu Bảo Tồn Tự Nhiên Bái Tử Long - Đảo Rêu - Đảo Tuần Châu",
        },
        {
            title:"Tour Trực Thăng Hạ Long (40 Phút):",
            text:"Đảo Tuần Châu - Động Thiên Cung - Hang Đầu Gỗ - Đảo Titop - Động Sửng Sốt - Hang Hồ Động Tiên - Hang Trong - Làng Chài Cửa Vạn - Hang Sáng Tối - Bãi biển Vũng Hạ - Làng Chài Vung Viên - Đảo Cổng Đầm - Đảo Cống Đỏ - Khu Bảo Tồn Tự Nhiên Bái Tử Long - Cầu Bãi Cháy - Công Viên Hạ Long - Đảo Rêu - Đảo Tuần Châu",
        },
    ]
mixin box-helicopter(title,imgUrl)
    .helicopter
        .container 
            .row 
                .col-lg-8
                    .box-helicopter 
                        img(src=imgUrl).img-helicopter
                        .content-helicopter 
                            p.title-top Nếu bạn đã từng trải nghiệm thưởng ngoạn khung cảnh Vịnh Hạ Long trên những chuyến du thuyền mà vẫn chưa thỏa mãn, vì chưa ngắm được những góc nhìn đẹp về vịnh Hạ Long như trên phim ảnh từng quảng cáo thì không cách gì lý tưởng hơn là ngắm cảnh Vịnh Hạ Long từ thủy phi cơ.
                            each item in content 
                                .content__item 
                                    h3.item-title= `${item.title}`
                                    p.item-text=  `${item.text}`
                .col-lg-4 
                    .box-tiket 
                        h3.tiket__title= title
                        .btn-hover-wrapper
                            span.btn-hover Có đồ ăn 
                            span.ac_border.btn-hover Có xe đưa đón 
                            span.orange.btn-hover Có ưu đãi 
                        ul.box-list 
                            li.list__item
                                i(class="fas fa-circle")
                                span Khởi hành từ cảng Tuần Châu
                            li.list__item
                                i(class="fas fa-circle")
                                span Tàu ghép
                            li.list__item
                                i(class="fas fa-circle")
                                span Có đồ ăn
                            li.list__item   
                                i(class="fas fa-circle")
                                span Đã bao gồm vé thắng cảnh + vé tàu
                        .box-paytime 
                            p.paytime__title.d-flex.justify-content-between Thời lượng bay:
                                span 25 phút 
                            p.paytime__title.d-flex.justify-content-between Giá vé:
                                span 1,399,000 đ/người   
                            p.paytime__btn 
                                a(href="#") ĐẶT VÉ    