.schedule-page-section
    div(class="bannner-section banner-cano banner-boat" style="background-image: url('./assets/images/banner/boat.jpg');")
        .container
            .row
                .col-lg-12
                    include ../components/banner.pug
                    +banner("Tàu thăm vịnh","5",false,true)
    include ../components/breadcrumb.pug
    +bread-crumb("Tuyến 4h")
    include ../components/description.pug
    +description("red")
    include ../components/schedule-main-2.pug
    include ../components/service.pug
    include ../components/why-choose.pug
    include ../components/box-discover-slider.pug
    include ../components/happy-client.pug
    include ../components/box-partner.pug