.list-boat-section
    div(class="bannner-section banner-cano banner-boat" style="background-image: url('./assets/images/image-update/cover_taughep.jpg');")
        .container
            .row
                .col-lg-12
                    include ../components/banner.pug
                    +banner("Tàu ghép thăm vịnh tuyến 4h","5",false,false)
    include ../components/breadcrumb.pug
    +bread-crumb("Tàu riêng thăm vịnh - Tuyến 4h")
    include ../components/filter.pug
    +filter()
    include ../components/box-yacht-horizontal.pug
    .box-yacht-horizontal-section
        .container
            .box-yacht-horizontal-wrapper
                h2.box-yacht__title Danh sách tàu ghép
                .row
                    .col-lg-12.col-md-6
                        +box-yacht-horizontal('true',1)
                    .col-lg-12.col-md-6
                        +box-yacht-horizontal('false',2)
                    .col-lg-12.col-md-6
                        +box-yacht-horizontal('false',3)
                button.ac +
                    span 98
                    |du thuyền
                include ../components/loader.pug
    include ../components/box-discover-slider.pug
    include ../components/happy-client.pug
    include ../components/box-partner.pug
    include ../pages/detail-ship.pug
    .custom__modal.full-screen.hidden.flex-container-center#popup-1
        +detail-ship(true)
    .custom__modal.full-screen.hidden.flex-container-center#popup-2
        +detail-ship(true)
    .custom__modal.full-screen.hidden.flex-container-center#popup-3
        +detail-ship(true)