.private-ship-section
    div(class="bannner-section banner-cano banner-boat")
        .container
            .row
                .col-lg-12
                    include ../components/banner.pug
                    +banner("Tàu riêng thăm vịnh","5",false,false)
    include ../components/breadcrumb.pug
    +bread-crumb("Tuyến 4 giờ")
    include ../components/box-discover.pug
    +box-discover("Tàu riêng thăm vịnh Hạ Long","Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse  gravida. ","./assets/images/box-privateship/ship.png")
    include ../components/description.pug
    +description("orange","btn")
    include ../components/schedule-main.pug
    include ../components/service.pug
    include ../components/why-choose.pug
    include ../components/happy-client.pug
    include ../components/box-partner.pug