.register-success-section
    .container
        .row.d-flex.justify-content-center.register-success-background.align-items-center
            .col-lg-9
                .register-success-section__content.text-center
                    img(src="./assets/images/register-success/register-success-icon.png").register-success-section__content-icon
                    h2.register-success-section__content-heading Đăng ký thành công
                    p.register-success-section__content-text Cảm ơn Quý khách đã sử dụng dịch vụ của AZCruise. Quý khách sẽ nhận được thông tin xác nhận vào email
                        span quan29@azcruise.vn
                    .register-success-section__content-btn.d-flex.justify-content-center
                        a(href="./index.html").btn__content Về trang chủ