.grafted-ship-route
    .grafted-ship-banner
        .container
            .row
                .col-md-12
                    include ../components/banner-mb.pug
                    +banner-mb("Tàu ghép thăm vịnh Tuyến 4h")
    include ../components/filter-mb.pug
    +filter-mb("Danh sách tàu ghép")
    .grafted-ship-card
        include ../components/ship-card-mb.pug
        +private-ship-card("Tàu 18 chỗ thường", "tàu ghép")
        include ../components/ship-card-mb.pug
        +private-ship-card("Tàu 48 chỗ thường","tàu ghép")
        include ../components/ship-card-mb.pug
        +private-ship-card("Tàu 72 chỗ thường","tàu ghép")
    include ../components/box-discover-more.pug
    + box-discover-more(false)
    include ../components/happy-client-mb.pug