.yacht__section
    div(class="bannner-section banner-cano banner-boat" style="background-image: url('./assets/images/image-update/du-thuyen_cover.jpg');")
        .container
            .row
                .col-lg-12
                    include ../components/banner.pug
                    +banner("Du thuyền","5",false,true)
    include ../components/breadcrumb.pug
    +bread-crumb("Du thuyền")
    include ../components/filter.pug
    +filter()
    include ../components/box-yacht.pug
    .box-yacht-section
        .container
            .box-yacht__wrap
                .box-yacht__title
                    h2 +120 Du thuyền
                .row
                    .col-lg-4.col-md-6
                        +YachtItems("assets/images/box-yacht/lee-06355.png","đ 599,000")
                    .col-lg-4.col-md-6
                        +YachtItems("assets/images/box-yacht/product-thumb.png")
                    .col-lg-4.col-md-6
                        +YachtItems("assets/images/box-yacht/product-thumb2.png")
                    .col-lg-4.col-md-6
                        +YachtItems("assets/images/box-yacht/product-thumb3.png")
                    .col-lg-4.col-md-6
                        +YachtItems("assets/images/box-yacht/product-thumb4.png")
                    .col-lg-4.col-md-6
                        +YachtItems("assets/images/box-yacht/product-thumb5.png")
                button.btn-more +
                    span 8
                    |du thuyền
                include ../components/loader.pug
    include ../components/box-discover.pug
    +box-discover("Tour thăm vịnh di sản 4 giờ","Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse  gravida. ","./assets/images/box-kham-pha/vinh-di-san.png")
    include ../components/happy-client.pug
    include ../components/box-partner.pug
