.yacht-details__mb
	.yacht-details__wrap 
		.yacht-details__title
			.container
				h2.title Aclass Stellar Cruise Halong Bay
		.yacht-details__img 
			img(src="./assets/images/box-helicopter/layer-3.png", alt="")
			.details__img-text 
				.container 
					h3 Aclass Stellar Cruise Halong Bay 3 Days 2 Nights
					.rated 
						i.fas.fa-star
						i.fas.fa-star
						i.fas.fa-star
						i.fas.fa-star
						i.fas.fa-star
					.price 
						p
							|Từ 
							strong  239 $
							| /người
		.info-section
			.container 
				.row
					.col-6 
						.info-text 
							span Năm sản xuất: 
							p 2019
					.col-6 
						.info-text 
							span Số cabin
							p 2019
					.col-6 
						.info-text 
							span Cảng khởi hành  
							p Hòn Gai
					.col-6 
						.info-text 
							span Review
							p 3,900
		.description-section 
			.description-section__wrap 
				.container 
					h2.title High light
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit 
			.description-section__img 
				img(src="./assets/images/box-helicopter/layer-3.png", alt="")
		.itinenary-section.tab-content
			.container 
				.itinenary-section__title 
					h2.title Full Itinerary
				.tab.itinenary-section__tab.owl-carousel.owl-theme
					.item: a(href="#").active Day 1 Ha Long 
					.item: a(href="#") Day 2 Ha Long 
					.item: a(href="#") Day 3 Ha Long 
				.content.itinenary-section__content 
					h3.title 7h45 - 08h15
					ul 
						li: p Sinh Cafe Travel tour guide will meet you at your hotel. The shuttle bus or private car pick up
						li: p - Enjoy the peaceful scenery as we travel through the countryside, farmlands and Red River delta
						li: P - Get your camera ready to take photos. Comfort break. The time from Hanoi to Halong bay is approximately 3 ½ hours
				.content.itinenary-section__content 
					h3.title 12h – 12h30 approx
					ul 
						li: p - Arriving Tuan Chau marina. Welcome aboard the cruise. Refresh with our welcome drink. Meet the captain, crew in the cruise briefing. Check into your cabin. Time to refresh and unwind
						li: p - Join us for a typical local lunch in the dining room or at the outdoor dining area.
				.content.itinenary-section__content 
					h3.title Afternoon
					ul 
						li: p - Arrive at Surprising Cave (Hang Sửng Sốt), explore the cave and find out how the cave was named a Surprising.
						li: p - Heading to Titop island area. Drop anchor in the calm water surrounded by beautiful islets. Visit Titop island for swimming and snorkeling or do the short trek to the top of island to have the overview of Halong bay from here
						li: p - Heading back toward the sleeping area
				.content.itinenary-section__content 
					h3.title Early evening
					ul 
						li: p - Summit on the sundeck watching the sunset, enjoy Sunset party. It’s ideal time to make acquaintance with new friends, sharing your traveling experience or simply watching the sunset
						li: p - An authentic Vietnamese menu is served
						li: p - After dinner, reward yourself with a large selection of cocktails at our bar, or take for you one of our onboard activities : book reading, games, movies, and quid fishing
		.information-section.tab-content
			.container 
				.itinenary-section__title 
					h2.title Information
				.tab.itinenary-section__tab.owl-carousel.owl-theme
					.item 
						a(href="#").active Price inclustions
					.item 
						a(href="#") Price exclustions
					.item 
						a(href="#") Booking
				.content.itinenary-section__content
					h3.title Early evening
					ul
						li: p - Full equipped luxury en-suite cabin with A/C, hot water
						li: p - All meals on board (03 lunches, 02 dinners, 02 breakfasts)
						li: p - Full equipped luxury en-suite cabin with A/C, hot water - All meals on board (03 lunches, 02 dinners, 02 breakfasts) - Complimentary 02 bottled mineral water inside the cabin
						li: p - Complimentary morning tea and coffee - Welcome drink - Tai Chi - Cookery demonstration
						li: p - Entrance and sightseeing fees
						li: p - Local rowing boat or kayaking
						li: p - Shuttle bus (round trip)
						li: p - Fruits and local wine party
						li: p - Internet with on dining room Fishing equipment English speaking guide On board insurance and service changes
		.review-section 
			.container 
				.review-section__wrap 
					h2.title Review
					span Customer review
					p 3.9
					.rated
						i.fas.fa-star
						i.fas.fa-star
						i.fas.fa-star
						i.fas.fa-star
						i.fas.fa-star
						span (4,738 reviews)
					.progress-rating 
						.progress-group 
							.check 
								input(type="radio" id ="5-star" name="rate")
								label(for="5-star") 5
							.progress-box
								.progress
									.progress-bar(role='progressbar' aria-valuenow='60' aria-valuemin='0' aria-valuemax='100' style='width: 80%;')
								span.progress-completed 4,250
						.progress-group 
							.check 
								input(type="radio" id ="4-star" name="rate")
								label(for="4-star") 4
							.progress-box
								.progress
									.progress-bar(role='progressbar' aria-valuenow='20' aria-valuemin='0' aria-valuemax='100' style='width: 30%;')
								span.progress-completed 384
						.progress-group 
							.check 
								input(type="radio" id ="3-star" name="rate")
								label(for="3-star") 3
							.progress-box
								.progress
									.progress-bar(role='progressbar' aria-valuenow='10' aria-valuemin='0' aria-valuemax='100' style='width: 15%;')
								span.progress-completed 46
						.progress-group 
							.check 
								input(type="radio" id ="2-star" name="rate")
								label(for="2-star") 2
							.progress-box
								.progress
									.progress-bar(role='progressbar' aria-valuenow='0' aria-valuemin='0' aria-valuemax='100' style='width: 0%;')
								span.progress-completed 19
						.progress-group 
							.check 
								input(type="radio" id ="1-star" name="rate")
								label(for="1-star") 1
							.progress-box
								.progress
									.progress-bar(role='progressbar' aria-valuenow='0' aria-valuemin='0' aria-valuemax='100' style='width: 0%;')
								span.progress-completed 41
						.write 
							button.btn.btn-review Write a review
		.recommend-section 
			.recommend-section__wrap
				.container 
					h2.title Recommend
				.recommend-content 
					.container 
						.recommend-content__item 
							.img
								img(src="./assets/images/box-cano/box-cano.png", alt="")
								.discount
									span Ưu đãi -40%
							.text 
								h3.title Pricess Day Cruise
								.btn-group 
									span.btn.btn-hover Có đồ ăn
									span.btn.btn-hover Xe đưa đón
								ul 
									li: p Cảng khởi hành: Tuần Châu
									li: p Thời gian khởi hành: 08h15
									li: p Vé thắng cản
									li: p Chèo thuyền Kayak 40.000 đ/người
									li: p Đưa đón/tiễn Tại khách sạn ở Bãi Cháy
									li: p Vé thăm quan tuyến Bữa trưa / chiều 150.000 đ/người
									li: p Hướng dẫn viên du lịch suốt hành trình 
									li: p Bảo hiểm
								p.price đ 399,000
								a.btn.btn-booking(href="#") Đặt tàu
				.recommend-content 
					.container 
						.recommend-content__item 
							.img
								img(src="./assets/images/box-cano/box-cano.png", alt="")
								.discount
									span Ưu đãi -40%
							.text 
								h3.title Pricess Day Cruise
								.btn-group 
									span.btn.btn-hover Có đồ ăn
									span.btn.btn-hover Xe đưa đón
								ul 
									li: p Cảng khởi hành: Tuần Châu
									li: p Thời gian khởi hành: 08h15
									li: p Vé thắng cản
									li: p Chèo thuyền Kayak 40.000 đ/người
									li: p Đưa đón/tiễn Tại khách sạn ở Bãi Cháy
									li: p Vé thăm quan tuyến Bữa trưa / chiều 150.000 đ/người
									li: p Hướng dẫn viên du lịch suốt hành trình 
									li: p Bảo hiểm
								p.price đ 399,000
								a.btn.btn-booking(href="#") Đặt tàu
				.recommend-content
					.container 
						.recommend-content__booking 
							ul 
								li: p Từ
								li: p 1,599,000đ / người
							a.btn.btn-booking(href="#") Đặt vé